<a href="https://colab.research.google.com/github/Worachet-Ch/project2022/blob/main/ANN.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import os
from google.colab import drive #เชื่อม Google drive
drive.mount('/content/drive')
path = '/content/drive/My Drive/project' #เข้า drive
data_X = pd.read_csv(os.path.join(path,'first_data.csv'))
data_Y = pd.read_csv(os.path.join(path,'dataset2.csv'))

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
data_X.drop('Unnamed: 0',1,inplace = True)
data_Y.dropna(subset=['telomere length (kb) '], inplace = True)
data_Y.drop(['No.', 'LabNo','DHEAs (BRIA)'], axis=1,inplace = True)
data_Y.drop(data_Y.columns[2: 10], axis=1,inplace = True)
data_Y.drop(data_Y.columns[27:37], axis=1,inplace = True)

<ipython-input-90-5ecd7837be1a>:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  data_X.drop('Unnamed: 0',1,inplace = True)

## First Data

In [ ]:
data1 = data_Y['telomere length (kb) ']
dtset1 = data_X.copy()
dtset1['telomere length (kb) '] = list(data1)
dtset1

,Sex,AgeSYear,Weight,Height,BMI,Systolic,Diastolic,HeartRate,SMM,Fat Mass,...,Uric Acid,Cholesterol,Triglyceride,HDL-C,LDL,AST,ALT,Alkaline Phos,HbA1c,telomere length (kb)
0,2.0,58.0,47.200000,156.00000,19.400000,112.000,64.00,70.00,19.847,15.025,...,4.8,180.0,97.0,62.0,98.0,25.0,32.0,40.0,5.800000,7.30
1,2.0,57.0,47.400000,153.00000,20.200000,114.000,75.00,69.00,19.300,12.500,...,5.0,176.0,51.0,72.0,94.0,16.0,16.0,62.0,5.100000,6.36
2,2.0,24.0,53.200000,157.00000,21.600000,103.000,69.00,78.00,21.300,14.600,...,5.2,159.0,45.0,52.0,98.0,13.0,17.0,50.0,5.400000,9.71
3,2.0,62.0,54.400000,165.00000,20.000000,95.000,75.00,83.00,21.600,15.200,...,4.1,230.0,94.0,61.0,151.0,18.0,31.0,76.0,5.600000,6.17
4,2.0,86.0,49.000000,154.00000,20.700000,129.000,79.00,83.00,19.878,13.932,...,5.4,183.0,86.0,39.0,127.0,12.0,22.0,82.0,6.200000,4.55
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
418,2.0,25.0,47.000000,165.00000,17.300000,104.000,63.00,89.00,20.381,18.684,...,4.8,232.0,36.0,96.0,128.0,18.0,12.0,46.0,5.426667,8.98
419,2.0,31.0,72.200000,168.00000,25.600000,123.000,89.00,69.00,25.838,19.464,...,6.1,187.0,49.0,51.0,127.0,21.0,24.0,71.0,5.520000,8.23
420,2.0,32.0,58.608675,162.00241,22.240723,113.420,71.38,75.64,23.317,20.276,...,5.1,222.0,58.0,79.0,132.0,17.0,10.0,34.0,5.486667,8.79
421,1.0,29.0,58.608675,162.00241,22.240723,115.985,74.54,85.45,27.483,21.162,...,6.8,140.0,92.0,48.0,73.0,31.0,75.0,69.0,5.420000,8.93
422,2.0,31.0,58.608675,162.00241,22.240723,116.730,73.36,76.10,23.056,21.261,...,4.0,243.0,161.0,87.0,124.0,24.0,11.0,46.0,6.000000,7.92

In [ ]:
data.isna().sum()

Sex                        0
AgeSYear                   0
Weight                     0
Height                     0
BMI                        0
Systolic                   0
Diastolic                  0
HeartRate                  0
SMM                        0
Fat Mass                   0
% Body fat                 0
waist to hip radio         0
abdominal circumference    0
visceral fat area          0
Glucose                    0
BUN                        0
Creatinine                 0
Uric Acid                  0
Cholesterol                0
Triglyceride               0
HDL-C                      0
LDL                        0
AST                        0
ALT                        0
Alkaline Phos              0
HbA1c                      0
telomere length (kb)       0
dtype: int64

In [ ]:
y = dtset1['telomere length (kb) '].values
X = dtset1.drop('telomere length (kb) ',1).values

<ipython-input-93-854353a19829>:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  X = dtset1.drop('telomere length (kb) ',1).values

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=216)

In [ ]:
!pip install tensorflow
!pip install keras
# importing the libraries
from keras.models import Sequential
from keras.layers import Dense

In [ ]:
model = Sequential()
model.add(Dense(units=7, input_dim=26, kernel_initializer='normal', activation='relu'))
model.add(Dense(units=7, kernel_initializer='normal', activation='relu'))
model.add(Dense(1, kernel_initializer='normal'))
model.compile(loss='mean_squared_error', optimizer='adam',metrics=['MeanSquaredLogarithmicError'])

In [ ]:
model.fit(X_train, y_train ,batch_size = 10, epochs = 100, verbose=1)

In [ ]:
y_pred = model.predict(X_test)

3/3 [==============================] - 0s 3ms/step

In [ ]:
from sklearn import metrics
#Train
print('R2 Value Train:',metrics.r2_score(y_train, model.predict(X_train)))
print('MSE Train:',metrics.mean_squared_error(y_train, model.predict(X_train)))
print('MAE Train:',metrics.mean_absolute_error(y_train, model.predict(X_train)))

11/11 [==============================] - 0s 1ms/step
R2 Value Train: 0.4202818781299371
11/11 [==============================] - 0s 1ms/step
MSE Train: 2.023594508813103
11/11 [==============================] - 0s 1ms/step
MAE Train: 0.8002235603896823

In [ ]:
import numpy as np
print('Accuracy',100- (np.mean(np.abs((y_test - y_pred) / y_test)) * 100))

Accuracy 77.57515863703067

In [ ]:
#Test
print('R2 Value Test:',metrics.r2_score(y_test, y_pred))
print('MSE Test:',metrics.mean_squared_error(y_test, y_pred))
print('MAE Test:',metrics.mean_absolute_error(y_test, y_pred))

R2 Value Test: 0.60904283330776
MSE Test: 0.9109917450616246
MAE Test: 0.77405340867884

## Second Data

In [ ]:
data_X2 = pd.read_csv(os.path.join(path,'second_data.csv'))
data_X2.drop('Unnamed: 0',1,inplace = True)

<ipython-input-102-809431afe439>:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  data_X2.drop('Unnamed: 0',1,inplace = True)

In [ ]:
data1 = data_Y['telomere length (kb) ']
dtset2 = data_X2.copy()
dtset2['telomere length (kb) '] = list(data1)
dtset2

,Sex,AgeSYear,Weight,Height,BMI,Systolic,Diastolic,HeartRate,SMM,Fat Mass,...,Uric Acid,Cholesterol,Triglyceride,HDL-C,LDL,AST,ALT,Alkaline Phos,HbA1c,telomere length (kb)
0,2.0,58.0,47.2,156.0,19.4,112.0,64.0,70.0,19.8,13.7,...,4.8,180.0,97.0,62.0,98.0,25.0,32.0,40.0,5.8,7.30
1,2.0,57.0,47.4,153.0,20.2,114.0,75.0,69.0,19.3,12.5,...,5.0,176.0,51.0,72.0,94.0,16.0,16.0,62.0,5.1,6.36
2,2.0,24.0,53.2,157.0,21.6,103.0,69.0,78.0,21.3,14.6,...,5.2,159.0,45.0,52.0,98.0,13.0,17.0,50.0,5.4,9.71
3,2.0,62.0,54.4,165.0,20.0,95.0,75.0,83.0,21.6,15.2,...,4.1,230.0,94.0,61.0,151.0,18.0,31.0,76.0,5.6,6.17
4,2.0,86.0,49.0,154.0,20.7,129.0,79.0,83.0,19.7,15.3,...,5.4,183.0,86.0,39.0,127.0,12.0,22.0,82.0,6.2,4.55
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
418,2.0,25.0,47.0,165.0,17.3,104.0,63.0,89.0,20.3,13.9,...,4.8,232.0,36.0,96.0,128.0,18.0,12.0,46.0,5.3,8.98
419,2.0,31.0,72.2,168.0,25.6,123.0,89.0,69.0,25.2,19.3,...,6.1,187.0,49.0,51.0,127.0,21.0,24.0,71.0,5.2,8.23
420,2.0,32.0,62.8,159.3,24.6,114.0,72.3,76.1,23.2,21.6,...,5.1,222.0,58.0,79.0,132.0,17.0,10.0,34.0,5.6,8.79
421,1.0,29.0,61.8,170.0,21.8,112.7,75.3,79.1,27.4,11.1,...,6.8,140.0,92.0,48.0,73.0,31.0,75.0,69.0,6.0,8.93
422,2.0,31.0,61.1,161.1,23.8,114.3,72.3,73.6,23.4,20.1,...,4.0,243.0,161.0,87.0,124.0,24.0,11.0,46.0,5.0,7.92

In [ ]:
dtset2.isna().sum()

Sex                        0
AgeSYear                   0
Weight                     0
Height                     0
BMI                        0
Systolic                   0
Diastolic                  0
HeartRate                  0
SMM                        0
Fat Mass                   0
% Body fat                 0
waist to hip radio         0
abdominal circumference    0
visceral fat area          0
Glucose                    0
BUN                        0
Creatinine                 0
Uric Acid                  0
Cholesterol                0
Triglyceride               0
HDL-C                      0
LDL                        0
AST                        0
ALT                        0
Alkaline Phos              0
HbA1c                      0
telomere length (kb)       0
dtype: int64

In [ ]:
y = dtset2['telomere length (kb) '].values
X = dtset2.drop('telomere length (kb) ',1).values

<ipython-input-105-1153483b7f78>:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  X = dtset2.drop('telomere length (kb) ',1).values

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=216)

In [ ]:
model = Sequential()
model.add(Dense(units=7, input_shape=(26,), kernel_initializer='normal', activation='relu'))
model.add(Dense(units=7, kernel_initializer='normal', activation='relu'))
model.add(Dense(1, kernel_initializer='normal'))
model.compile(loss='mean_squared_error', optimizer='adam',metrics=['MeanSquaredLogarithmicError'])

In [ ]:
model.fit(X_train, y_train ,batch_size = 10, epochs = 100, verbose=1)

In [ ]:
y_pred = model.predict(X_test)

3/3 [==============================] - 0s 3ms/step

In [ ]:
from sklearn import metrics
#Train
print('R2 Value Train:',metrics.r2_score(y_train, model.predict(X_train)))
print('MSE Train:',metrics.mean_squared_error(y_train, model.predict(X_train)))
print('MAE Train:',metrics.mean_absolute_error(y_train, model.predict(X_train)))

11/11 [==============================] - 0s 1ms/step
R2 Value Train: 0.42488394902086934
11/11 [==============================] - 0s 1ms/step
MSE Train: 2.0075302785730376
11/11 [==============================] - 0s 1ms/step
MAE Train: 0.7973574004652938

In [ ]:
import numpy as np
print('Accuracy',100- (np.mean(np.abs((y_test - y_pred) / y_test)) * 100))

Accuracy 77.11449833133538

In [ ]:
#Test
print('R2 Value Test:',metrics.r2_score(y_test, y_pred))
print('MSE Test:',metrics.mean_squared_error(y_test, y_pred))
print('MAE Test:',metrics.mean_absolute_error(y_test, y_pred))

R2 Value Test: 0.5848817237201356
MSE Test: 0.9672909339780965
MAE Test: 0.785840981202967

## GridsearchCV

In [ ]:
from sklearn.model_selection import GridSearchCV
import numpy as np
import tensorflow as tf
from keras.wrappers.scikit_learn import KerasRegressor

In [ ]:
def create_model(activation='relu'):
  model = Sequential()
  model.add(Dense(units=7, input_shape=(26,), kernel_initializer='normal', activation=activation))
  model.add(Dense(units=7, kernel_initializer='normal', activation= activation))
  model.add(Dense(1, kernel_initializer='normal'))
  model.compile(loss='mean_squared_error', optimizer='adam',metrics=['MeanSquaredLogarithmicError'])
  return model

In [ ]:

input_shape = (26, )
# Creates a model given an activation and learning rate
def create_model(learning_rate = 0.01, activation = 'relu'):
  
    # Create an Adam optimizer with the given learning rate
  
    # Create your binary classification model  
    model = Sequential()
    model.add(Dense(7, 
                    activation = activation,
                    input_shape = input_shape))
    model.add(Dense(7,
                    activation = activation))
    model.add(Dense(1, activation = activation))
# Compile the model
    model.compile(optimizer = 'adam',
                  loss = "mean_absolute_error",
                  metrics=['MeanSquaredLogarithmicError'])
    return model

In [ ]:
tf.random.set_seed(216)
y = dtset2['telomere length (kb) '].values
X = dtset2.drop('telomere length (kb) ',1).values
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=216)

<ipython-input-127-1c1bd2af67dd>:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  X = dtset2.drop('telomere length (kb) ',1).values

In [ ]:

model = KerasRegressor(build_fn = create_model,
                       verbose = 0)
# Define the hyperparameter space
params = {'activation': ["relu", "tanh"],
          'batch_size': [10, 20,50, 100], 
          'epochs': [10, 20,50, 100],
          'learning_rate': [0.01, 0.001, 0.0001]}
# Create a randomize search cv object 
gsearch = GridSearchCV(estimator = model,param_grid = params)
gsearch.fit(X_train,y_train)

<ipython-input-130-10854ace9aef>:1: DeprecationWarning: KerasRegressor is deprecated, use Sci-Keras (https://github.com/adriangb/scikeras) instead. See https://www.adriangb.com/scikeras/stable/migration.html for help migrating.
  model = KerasRegressor(build_fn = create_model,

GridSearchCV(estimator=<keras.wrappers.scikit_learn.KerasRegressor object at 0x7f57fb9bb1c0>,
             param_grid={'activation': ['relu', 'tanh'],
                         'batch_size': [10, 20, 50, 100],
                         'epochs': [10, 20, 50, 100],
                         'learning_rate': [0.01, 0.001, 0.0001]})

In [ ]:
print(gsearch.best_params_)

{'activation': 'relu', 'batch_size': 20, 'epochs': 100, 'learning_rate': 0.01}

In [ ]:
model = Sequential()
model.add(Dense(units=7, input_shape=(26,), kernel_initializer='normal', activation='relu',learning_rate_init= 0.01,batch_size=20,epochs=100))
model.add(Dense(units=7, kernel_initializer='normal', activation='relu',learning_rate_init= 0.01))
model.add(Dense(1, kernel_initializer='normal'))
model.compile(loss='mean_squared_error', optimizer='adam',metrics=['MeanSquaredLogarithmicError'])

TypeError: ignored