<a href="https://colab.research.google.com/github/Worachet-Ch/project2022/blob/main/ANN.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import os
from google.colab import drive #เชื่อม Google drive
drive.mount('/content/drive')
path = '/content/drive/My Drive/project' #เข้า drive
data_X = pd.read_csv(os.path.join(path,'first_data.csv'))
data_Y = pd.read_csv(os.path.join(path,'dataset2.csv'))

Mounted at /content/drive

In [2]:
data_X.drop('Unnamed: 0',1,inplace = True)
data_Y.dropna(subset=['telomere length (kb) '], inplace = True)
data_Y.drop(['No.', 'LabNo','DHEAs (BRIA)'], axis=1,inplace = True)
data_Y.drop(data_Y.columns[2: 10], axis=1,inplace = True)
data_Y.drop(data_Y.columns[27:37], axis=1,inplace = True)

<ipython-input-2-5ecd7837be1a>:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  data_X.drop('Unnamed: 0',1,inplace = True)

## First Data

In [3]:
data1 = data_Y['telomere length (kb) ']
data = data_X.copy()
data['telomere length (kb) '] = list(data1)
data

,Sex,AgeSYear,Weight,Height,BMI,Systolic,Diastolic,HeartRate,SMM,Fat Mass,...,Uric Acid,Cholesterol,Triglyceride,HDL-C,LDL,AST,ALT,Alkaline Phos,HbA1c,telomere length (kb)
0,2.0,58.0,47.200000,156.00000,19.400000,112.000,64.00,70.00,19.847,15.025,...,4.8,180.0,97.0,62.0,98.0,25.0,32.0,40.0,5.800000,7.30
1,2.0,57.0,47.400000,153.00000,20.200000,114.000,75.00,69.00,19.300,12.500,...,5.0,176.0,51.0,72.0,94.0,16.0,16.0,62.0,5.100000,6.36
2,2.0,24.0,53.200000,157.00000,21.600000,103.000,69.00,78.00,21.300,14.600,...,5.2,159.0,45.0,52.0,98.0,13.0,17.0,50.0,5.400000,9.71
3,2.0,62.0,54.400000,165.00000,20.000000,95.000,75.00,83.00,21.600,15.200,...,4.1,230.0,94.0,61.0,151.0,18.0,31.0,76.0,5.600000,6.17
4,2.0,86.0,49.000000,154.00000,20.700000,129.000,79.00,83.00,19.878,13.932,...,5.4,183.0,86.0,39.0,127.0,12.0,22.0,82.0,6.200000,4.55
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
418,2.0,25.0,47.000000,165.00000,17.300000,104.000,63.00,89.00,20.381,18.684,...,4.8,232.0,36.0,96.0,128.0,18.0,12.0,46.0,5.426667,8.98
419,2.0,31.0,72.200000,168.00000,25.600000,123.000,89.00,69.00,25.838,19.464,...,6.1,187.0,49.0,51.0,127.0,21.0,24.0,71.0,5.520000,8.23
420,2.0,32.0,58.608675,162.00241,22.240723,113.420,71.38,75.64,23.317,20.276,...,5.1,222.0,58.0,79.0,132.0,17.0,10.0,34.0,5.486667,8.79
421,1.0,29.0,58.608675,162.00241,22.240723,115.985,74.54,85.45,27.483,21.162,...,6.8,140.0,92.0,48.0,73.0,31.0,75.0,69.0,5.420000,8.93
422,2.0,31.0,58.608675,162.00241,22.240723,116.730,73.36,76.10,23.056,21.261,...,4.0,243.0,161.0,87.0,124.0,24.0,11.0,46.0,6.000000,7.92

In [4]:
data.isna().sum()

Sex                        0
AgeSYear                   0
Weight                     0
Height                     0
BMI                        0
Systolic                   0
Diastolic                  0
HeartRate                  0
SMM                        0
Fat Mass                   0
% Body fat                 0
waist to hip radio         0
abdominal circumference    0
visceral fat area          0
Glucose                    0
BUN                        0
Creatinine                 0
Uric Acid                  0
Cholesterol                0
Triglyceride               0
HDL-C                      0
LDL                        0
AST                        0
ALT                        0
Alkaline Phos              0
HbA1c                      0
telomere length (kb)       0
dtype: int64

In [5]:
y = data['telomere length (kb) '].values
X = data.drop('telomere length (kb) ',1).values

<ipython-input-5-13d2162fa1d2>:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  X = data.drop('telomere length (kb) ',1).values

In [6]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=216)

In [ ]:
!pip install tensorflow
!pip install keras
# importing the libraries
from keras.models import Sequential
from keras.layers import Dense

In [8]:
model = Sequential()
model.add(Dense(units=7, input_dim=26, kernel_initializer='normal', activation='relu'))
model.add(Dense(units=7, kernel_initializer='normal', activation='relu'))
model.add(Dense(1, kernel_initializer='normal'))
model.compile(loss='mean_squared_error', optimizer='adam',metrics=['MeanSquaredLogarithmicError'])

In [9]:
model.fit(X_train, y_train ,batch_size = 10, epochs = 100, verbose=1)

Epoch 1/100
34/34 [==============================] - 3s 3ms/step - loss: 67.8003 - mean_squared_logarithmic_error: 4.3352
Epoch 2/100
34/34 [==============================] - 0s 2ms/step - loss: 41.2656 - mean_squared_logarithmic_error: 1.4622
Epoch 3/100
34/34 [==============================] - 0s 2ms/step - loss: 6.7942 - mean_squared_logarithmic_error: 0.0760
Epoch 4/100
34/34 [==============================] - 0s 2ms/step - loss: 5.0546 - mean_squared_logarithmic_error: 0.0504
Epoch 5/100
34/34 [==============================] - 0s 2ms/step - loss: 4.9938 - mean_squared_logarithmic_error: 0.0497
Epoch 6/100
34/34 [==============================] - 0s 2ms/step - loss: 4.7911 - mean_squared_logarithmic_error: 0.0474
Epoch 7/100
34/34 [==============================] - 0s 2ms/step - loss: 4.7455 - mean_squared_logarithmic_error: 0.0465
Epoch 8/100
34/34 [==============================] - 0s 2ms/step - loss: 4.5929 - mean_squared_logarithmic_error: 0.0449
Epoch 9/100
34/34 [==============================] - 0s 2ms/step - loss: 4.5222 - mean_squared_logarithmic_error: 0.0439
Epoch 10/100
34/34 [==============================] - 0s 2ms/step - loss: 4.4495 - mean_squared_logarithmic_error: 0.0431
Epoch 11/100
34/34 [==============================] - 0s 2ms/step - loss: 4.3288 - mean_squared_logarithmic_error: 0.0413
Epoch 12/100
34/34 [==============================] - 0s 2ms/step - loss: 4.2402 - mean_squared_logarithmic_error: 0.0404
Epoch 13/100
34/34 [==============================] - 0s 2ms/step - loss: 4.1733 - mean_squared_logarithmic_error: 0.0401
Epoch 14/100
34/34 [==============================] - 0s 2ms/step - loss: 4.1190 - mean_squared_logarithmic_error: 0.0390
Epoch 15/100
34/34 [==============================] - 0s 2ms/step - loss: 3.9595 - mean_squared_logarithmic_error: 0.0371
Epoch 16/100
34/34 [==============================] - 0s 3ms/step - loss: 3.8441 - mean_squared_logarithmic_error: 0.0357
Epoch 17/100
34/34 [==============================] - 0s 3ms/step - loss: 3.7665 - mean_squared_logarithmic_error: 0.0347
Epoch 18/100
34/34 [==============================] - 0s 2ms/step - loss: 3.7134 - mean_squared_logarithmic_error: 0.0339
Epoch 19/100
34/34 [==============================] - 0s 2ms/step - loss: 3.6039 - mean_squared_logarithmic_error: 0.0331
Epoch 20/100
34/34 [==============================] - 0s 2ms/step - loss: 3.5433 - mean_squared_logarithmic_error: 0.0321
Epoch 21/100
34/34 [==============================] - 0s 2ms/step - loss: 3.4478 - mean_squared_logarithmic_error: 0.0308
Epoch 22/100
34/34 [==============================] - 0s 2ms/step - loss: 3.3477 - mean_squared_logarithmic_error: 0.0298
Epoch 23/100
34/34 [==============================] - 0s 2ms/step - loss: 3.3566 - mean_squared_logarithmic_error: 0.0295
Epoch 24/100
34/34 [==============================] - 0s 2ms/step - loss: 3.3098 - mean_squared_logarithmic_error: 0.0290
Epoch 25/100
34/34 [==============================] - 0s 2ms/step - loss: 3.2200 - mean_squared_logarithmic_error: 0.0281
Epoch 26/100
34/34 [==============================] - 0s 2ms/step - loss: 3.1288 - mean_squared_logarithmic_error: 0.0268
Epoch 27/100
34/34 [==============================] - 0s 2ms/step - loss: 3.0953 - mean_squared_logarithmic_error: 0.0265
Epoch 28/100
34/34 [==============================] - 0s 2ms/step - loss: 3.1221 - mean_squared_logarithmic_error: 0.0275
Epoch 29/100
34/34 [==============================] - 0s 2ms/step - loss: 2.9778 - mean_squared_logarithmic_error: 0.0254
Epoch 30/100
34/34 [==============================] - 0s 2ms/step - loss: 2.9456 - mean_squared_logarithmic_error: 0.0243
Epoch 31/100
34/34 [==============================] - 0s 2ms/step - loss: 2.8732 - mean_squared_logarithmic_error: 0.0237
Epoch 32/100
34/34 [==============================] - 0s 2ms/step - loss: 2.8976 - mean_squared_logarithmic_error: 0.0242
Epoch 33/100
34/34 [==============================] - 0s 2ms/step - loss: 2.7739 - mean_squared_logarithmic_error: 0.0224
Epoch 34/100
34/34 [==============================] - 0s 2ms/step - loss: 2.7334 - mean_squared_logarithmic_error: 0.0226
Epoch 35/100
34/34 [==============================] - 0s 2ms/step - loss: 2.7596 - mean_squared_logarithmic_error: 0.0224
Epoch 36/100
34/34 [==============================] - 0s 3ms/step - loss: 2.6563 - mean_squared_logarithmic_error: 0.0214
Epoch 37/100
34/34 [==============================] - 0s 2ms/step - loss: 2.6633 - mean_squared_logarithmic_error: 0.0215
Epoch 38/100
34/34 [==============================] - 0s 2ms/step - loss: 2.6107 - mean_squared_logarithmic_error: 0.0211
Epoch 39/100
34/34 [==============================] - 0s 2ms/step - loss: 2.5412 - mean_squared_logarithmic_error: 0.0200
Epoch 40/100
34/34 [==============================] - 0s 2ms/step - loss: 2.6081 - mean_squared_logarithmic_error: 0.0207
Epoch 41/100
34/34 [==============================] - 0s 2ms/step - loss: 2.4959 - mean_squared_logarithmic_error: 0.0195
Epoch 42/100
34/34 [==============================] - 0s 2ms/step - loss: 2.4722 - mean_squared_logarithmic_error: 0.0191
Epoch 43/100
34/34 [==============================] - 0s 2ms/step - loss: 2.5193 - mean_squared_logarithmic_error: 0.0202
Epoch 44/100
34/34 [==============================] - 0s 2ms/step - loss: 2.4493 - mean_squared_logarithmic_error: 0.0189
Epoch 45/100
34/34 [==============================] - 0s 2ms/step - loss: 2.4457 - mean_squared_logarithmic_error: 0.0192
Epoch 46/100
34/34 [==============================] - 0s 2ms/step - loss: 2.4420 - mean_squared_logarithmic_error: 0.0190
Epoch 47/100
34/34 [==============================] - 0s 2ms/step - loss: 2.4165 - mean_squared_logarithmic_error: 0.0183
Epoch 48/100
34/34 [==============================] - 0s 2ms/step - loss: 2.4430 - mean_squared_logarithmic_error: 0.0192
Epoch 49/100
34/34 [==============================] - 0s 2ms/step - loss: 2.4201 - mean_squared_logarithmic_error: 0.0186
Epoch 50/100
34/34 [==============================] - 0s 2ms/step - loss: 2.3609 - mean_squared_logarithmic_error: 0.0177
Epoch 51/100
34/34 [==============================] - 0s 2ms/step - loss: 2.3306 - mean_squared_logarithmic_error: 0.0179
Epoch 52/100
34/34 [==============================] - 0s 2ms/step - loss: 2.3092 - mean_squared_logarithmic_error: 0.0174
Epoch 53/100
34/34 [==============================] - 0s 2ms/step - loss: 2.3984 - mean_squared_logarithmic_error: 0.0183
Epoch 54/100
34/34 [==============================] - 0s 2ms/step - loss: 2.3054 - mean_squared_logarithmic_error: 0.0171
Epoch 55/100
34/34 [==============================] - 0s 2ms/step - loss: 2.2980 - mean_squared_logarithmic_error: 0.0176
Epoch 56/100
34/34 [==============================] - 0s 2ms/step - loss: 2.2927 - mean_squared_logarithmic_error: 0.0171
Epoch 57/100
34/34 [==============================] - 0s 2ms/step - loss: 2.2826 - mean_squared_logarithmic_error: 0.0171
Epoch 58/100
34/34 [==============================] - 0s 2ms/step - loss: 2.2725 - mean_squared_logarithmic_error: 0.0171
Epoch 59/100
34/34 [==============================] - 0s 2ms/step - loss: 2.2772 - mean_squared_logarithmic_error: 0.0168
Epoch 60/100
34/34 [==============================] - 0s 2ms/step - loss: 2.2220 - mean_squared_logarithmic_error: 0.0166
Epoch 61/100
34/34 [==============================] - 0s 2ms/step - loss: 2.2319 - mean_squared_logarithmic_error: 0.0165
Epoch 62/100
34/34 [==============================] - 0s 2ms/step - loss: 2.2618 - mean_squared_logarithmic_error: 0.0167
Epoch 63/100
34/34 [==============================] - 0s 2ms/step - loss: 2.1929 - mean_squared_logarithmic_error: 0.0161
Epoch 64/100
34/34 [==============================] - 0s 2ms/step - loss: 2.2300 - mean_squared_logarithmic_error: 0.0166
Epoch 65/100
34/34 [==============================] - 0s 2ms/step - loss: 2.2005 - mean_squared_logarithmic_error: 0.0161
Epoch 66/100
34/34 [==============================] - 0s 3ms/step - loss: 2.1950 - mean_squared_logarithmic_error: 0.0159
Epoch 67/100
34/34 [==============================] - 0s 3ms/step - loss: 2.2054 - mean_squared_logarithmic_error: 0.0164
Epoch 68/100
34/34 [==============================] - 0s 3ms/step - loss: 2.1732 - mean_squared_logarithmic_error: 0.0158
Epoch 69/100
34/34 [==============================] - 0s 3ms/step - loss: 2.1721 - mean_squared_logarithmic_error: 0.0160
Epoch 70/100
34/34 [==============================] - 0s 3ms/step - loss: 2.1543 - mean_squared_logarithmic_error: 0.0157
Epoch 71/100
34/34 [==============================] - 0s 3ms/step - loss: 2.1704 - mean_squared_logarithmic_error: 0.0160
Epoch 72/100
34/34 [==============================] - 0s 3ms/step - loss: 2.1859 - mean_squared_logarithmic_error: 0.0156
Epoch 73/100
34/34 [==============================] - 0s 3ms/step - loss: 2.1330 - mean_squared_logarithmic_error: 0.0155
Epoch 74/100
34/34 [==============================] - 0s 3ms/step - loss: 2.1206 - mean_squared_logarithmic_error: 0.0152
Epoch 75/100
34/34 [==============================] - 0s 3ms/step - loss: 2.2570 - mean_squared_logarithmic_error: 0.0174
Epoch 76/100
34/34 [==============================] - 0s 4ms/step - loss: 2.1131 - mean_squared_logarithmic_error: 0.0150
Epoch 77/100
34/34 [==============================] - 0s 3ms/step - loss: 2.1051 - mean_squared_logarithmic_error: 0.0149
Epoch 78/100
34/34 [==============================] - 0s 3ms/step - loss: 2.1326 - mean_squared_logarithmic_error: 0.0151
Epoch 79/100
34/34 [==============================] - 0s 3ms/step - loss: 2.1383 - mean_squared_logarithmic_error: 0.0159
Epoch 80/100
34/34 [==============================] - 0s 4ms/step - loss: 2.1440 - mean_squared_logarithmic_error: 0.0152
Epoch 81/100
34/34 [==============================] - 0s 3ms/step - loss: 2.1064 - mean_squared_logarithmic_error: 0.0150
Epoch 82/100
34/34 [==============================] - 0s 3ms/step - loss: 2.0755 - mean_squared_logarithmic_error: 0.0147
Epoch 83/100
34/34 [==============================] - 0s 3ms/step - loss: 2.2020 - mean_squared_logarithmic_error: 0.0165
Epoch 84/100
34/34 [==============================] - 0s 3ms/step - loss: 2.1331 - mean_squared_logarithmic_error: 0.0157
Epoch 85/100
34/34 [==============================] - 0s 3ms/step - loss: 2.1555 - mean_squared_logarithmic_error: 0.0155
Epoch 86/100
34/34 [==============================] - 0s 4ms/step - loss: 2.1872 - mean_squared_logarithmic_error: 0.0167
Epoch 87/100
34/34 [==============================] - 0s 3ms/step - loss: 2.1084 - mean_squared_logarithmic_error: 0.0152
Epoch 88/100
34/34 [==============================] - 0s 3ms/step - loss: 2.0399 - mean_squared_logarithmic_error: 0.0143
Epoch 89/100
34/34 [==============================] - 0s 3ms/step - loss: 2.0916 - mean_squared_logarithmic_error: 0.0153
Epoch 90/100
34/34 [==============================] - 0s 3ms/step - loss: 2.0793 - mean_squared_logarithmic_error: 0.0149
Epoch 91/100
34/34 [==============================] - 0s 3ms/step - loss: 2.0629 - mean_squared_logarithmic_error: 0.0144
Epoch 92/100
34/34 [==============================] - 0s 3ms/step - loss: 2.1056 - mean_squared_logarithmic_error: 0.0152
Epoch 93/100
34/34 [==============================] - 0s 3ms/step - loss: 2.0806 - mean_squared_logarithmic_error: 0.0151
Epoch 94/100
34/34 [==============================] - 0s 4ms/step - loss: 2.1053 - mean_squared_logarithmic_error: 0.0152
Epoch 95/100
34/34 [==============================] - 0s 3ms/step - loss: 2.0976 - mean_squared_logarithmic_error: 0.0152
Epoch 96/100
34/34 [==============================] - 0s 3ms/step - loss: 2.0342 - mean_squared_logarithmic_error: 0.0142
Epoch 97/100
34/34 [==============================] - 0s 3ms/step - loss: 2.0506 - mean_squared_logarithmic_error: 0.0143
Epoch 98/100
34/34 [==============================] - 0s 5ms/step - loss: 2.0556 - mean_squared_logarithmic_error: 0.0146
Epoch 99/100
34/34 [==============================] - 0s 4ms/step - loss: 2.0664 - mean_squared_logarithmic_error: 0.0147
Epoch 100/100
34/34 [==============================] - 0s 4ms/step - loss: 2.1299 - mean_squared_logarithmic_error: 0.0153

In [10]:
y_pred = model.predict(X_test)

3/3 [==============================] - 0s 3ms/step

In [11]:
from sklearn import metrics
#Train
print('R2 Value Train:',metrics.r2_score(y_train, model.predict(X_train)))
print('MSE Train:',metrics.mean_squared_error(y_train, model.predict(X_train)))
print('MAE Train:',metrics.mean_absolute_error(y_train, model.predict(X_train)))

11/11 [==============================] - 0s 3ms/step
R2 Value Train: 0.424745468491351
11/11 [==============================] - 0s 2ms/step
MSE Train: 2.0080136659789836
11/11 [==============================] - 0s 3ms/step
MAE Train: 0.7800886843754695

In [12]:
import numpy as np
print('Accuracy',100- (np.mean(np.abs((y_test - y_pred) / y_test)) * 100))

Accuracy 78.50277951849206

In [13]:
#Test
print('R2 Value Test:',metrics.r2_score(y_test, y_pred))
print('MSE Test:',metrics.mean_squared_error(y_test, y_pred))
print('MAE Test:',metrics.mean_absolute_error(y_test, y_pred))

R2 Value Test: 0.6385806943486001
MSE Test: 0.8421638788208066
MAE Test: 0.7523014782176297

## Second Data

In [14]:
data_X = pd.read_csv(os.path.join(path,'first_data.csv'))
data_X.drop('Unnamed: 0',1,inplace = True)

<ipython-input-14-a816a32fc081>:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  data_X.drop('Unnamed: 0',1,inplace = True)

In [15]:
data1 = data_Y['telomere length (kb) ']
data = data_X.copy()
data['telomere length (kb) '] = list(data1)
data

,Sex,AgeSYear,Weight,Height,BMI,Systolic,Diastolic,HeartRate,SMM,Fat Mass,...,Uric Acid,Cholesterol,Triglyceride,HDL-C,LDL,AST,ALT,Alkaline Phos,HbA1c,telomere length (kb)
0,2.0,58.0,47.200000,156.00000,19.400000,112.000,64.00,70.00,19.847,15.025,...,4.8,180.0,97.0,62.0,98.0,25.0,32.0,40.0,5.800000,7.30
1,2.0,57.0,47.400000,153.00000,20.200000,114.000,75.00,69.00,19.300,12.500,...,5.0,176.0,51.0,72.0,94.0,16.0,16.0,62.0,5.100000,6.36
2,2.0,24.0,53.200000,157.00000,21.600000,103.000,69.00,78.00,21.300,14.600,...,5.2,159.0,45.0,52.0,98.0,13.0,17.0,50.0,5.400000,9.71
3,2.0,62.0,54.400000,165.00000,20.000000,95.000,75.00,83.00,21.600,15.200,...,4.1,230.0,94.0,61.0,151.0,18.0,31.0,76.0,5.600000,6.17
4,2.0,86.0,49.000000,154.00000,20.700000,129.000,79.00,83.00,19.878,13.932,...,5.4,183.0,86.0,39.0,127.0,12.0,22.0,82.0,6.200000,4.55
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
418,2.0,25.0,47.000000,165.00000,17.300000,104.000,63.00,89.00,20.381,18.684,...,4.8,232.0,36.0,96.0,128.0,18.0,12.0,46.0,5.426667,8.98
419,2.0,31.0,72.200000,168.00000,25.600000,123.000,89.00,69.00,25.838,19.464,...,6.1,187.0,49.0,51.0,127.0,21.0,24.0,71.0,5.520000,8.23
420,2.0,32.0,58.608675,162.00241,22.240723,113.420,71.38,75.64,23.317,20.276,...,5.1,222.0,58.0,79.0,132.0,17.0,10.0,34.0,5.486667,8.79
421,1.0,29.0,58.608675,162.00241,22.240723,115.985,74.54,85.45,27.483,21.162,...,6.8,140.0,92.0,48.0,73.0,31.0,75.0,69.0,5.420000,8.93
422,2.0,31.0,58.608675,162.00241,22.240723,116.730,73.36,76.10,23.056,21.261,...,4.0,243.0,161.0,87.0,124.0,24.0,11.0,46.0,6.000000,7.92

In [16]:
data.isna().sum()

Sex                        0
AgeSYear                   0
Weight                     0
Height                     0
BMI                        0
Systolic                   0
Diastolic                  0
HeartRate                  0
SMM                        0
Fat Mass                   0
% Body fat                 0
waist to hip radio         0
abdominal circumference    0
visceral fat area          0
Glucose                    0
BUN                        0
Creatinine                 0
Uric Acid                  0
Cholesterol                0
Triglyceride               0
HDL-C                      0
LDL                        0
AST                        0
ALT                        0
Alkaline Phos              0
HbA1c                      0
telomere length (kb)       0
dtype: int64

In [17]:
y = data['telomere length (kb) '].values
X = data.drop('telomere length (kb) ',1).values

<ipython-input-17-13d2162fa1d2>:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  X = data.drop('telomere length (kb) ',1).values

In [18]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=216)

In [19]:
model = Sequential()
model.add(Dense(units=7, input_dim=26, kernel_initializer='normal', activation='relu'))
model.add(Dense(units=7, kernel_initializer='normal', activation='relu'))
model.add(Dense(1, kernel_initializer='normal'))
model.compile(loss='mean_squared_error', optimizer='adam',metrics=['MeanSquaredLogarithmicError'])

In [ ]:
model.fit(X_train, y_train ,batch_size = 10, epochs = 100, verbose=1)

In [21]:
y_pred = model.predict(X_test)

3/3 [==============================] - 0s 3ms/step

In [22]:
from sklearn import metrics
#Train
print('R2 Value Train:',metrics.r2_score(y_train, model.predict(X_train)))
print('MSE Train:',metrics.mean_squared_error(y_train, model.predict(X_train)))
print('MAE Train:',metrics.mean_absolute_error(y_train, model.predict(X_train)))

11/11 [==============================] - 0s 2ms/step
R2 Value Train: 0.4178704537384924
11/11 [==============================] - 0s 2ms/step
MSE Train: 2.032011953382895
11/11 [==============================] - 0s 2ms/step
MAE Train: 0.8317221392682318

In [23]:
import numpy as np
print('Accuracy',100- (np.mean(np.abs((y_test - y_pred) / y_test)) * 100))

Accuracy 76.90672328430004

In [24]:
#Test
print('R2 Value Test:',metrics.r2_score(y_test, y_pred))
print('MSE Test:',metrics.mean_squared_error(y_test, y_pred))
print('MAE Test:',metrics.mean_absolute_error(y_test, y_pred))

R2 Value Test: 0.5272966172399349
MSE Test: 1.1014732974472217
MAE Test: 0.8556369438171386