<a href="https://colab.research.google.com/github/Worachet-Ch/project2022/blob/main/Claensing_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import missingno as mno
from sklearn import linear_model
%matplotlib inline
import numpy as np
from pandas.api.types import is_numeric_dtype

In [2]:
import pandas as pd
import os
from google.colab import drive #เชื่อม Google drive
drive.mount('/content/drive')
path = '/content/drive/My Drive/project' #เข้า drive
data_file_path = os.path.join(path,'dataset.csv') #ไปที่ไฟล์ confirmed-cases-since-280265.csv
data = pd.read_csv(data_file_path) #อ่านไฟล์ csv

Mounted at /content/drive

In [3]:
data

,No.,LabNo,Sex,AgeSYear,Enose,Overall,Body shape age,Kidney,Heart,Liver,...,071_HbA1c,CK,LD-P,AMY7,TP1,DBIL,TBIL,ALB1,GGT,homocysteine
0,50.0,2.01809E+11,2,58,NaN,NaN,NaN,NaN,NaN,NaN,...,5.8,89.0,112.0,100.0,7.10,0.13,1.03,4.52,3.0,10.54
1,57.0,2.01809E+11,2,57,NaN,NaN,NaN,NaN,NaN,NaN,...,5.1,94.0,263.0,98.0,7.29,0.08,0.36,4.40,8.0,9.62
2,86.0,2.0181E+11,2,24,NaN,NaN,NaN,NaN,NaN,NaN,...,5.4,78.0,402.0,72.0,6.99,0.04,0.35,4.57,11.0,11.58
3,104.0,2.0181E+11,2,62,NaN,NaN,NaN,NaN,NaN,NaN,...,5.6,251.0,403.0,166.0,7.54,0.07,0.40,4.23,21.0,9.41
4,109.0,2.01811E+11,2,86,NaN,NaN,NaN,NaN,NaN,NaN,...,6.2,25.0,376.0,46.0,6.92,0.22,0.60,3.55,17.0,10.62
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
418,NaN,V14,2,25,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
419,NaN,V17,2,31,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
420,NaN,V19,2,32,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
421,NaN,V21,1,29,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
422,NaN,V22,2,31,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### MANUAL

In [53]:
data1 = data[data['BMI']>=15] 
data1 = data1[data1['BMI']<31]
data1 = data1[data1['Systolic']>=80] 
data1 = data1[data1['Systolic']<=160] 
data1 = data1[data1['Diastolic']>=50]
data1 = data1[data1['Diastolic']<=100]
data1 = data1[data1['abdominal circumference']>=60]
data1 = data1[data1['abdominal circumference']<=105]
data1 = data1[data1['002_BUN']>=5]
data1 = data1[data1['002_BUN']<=30]
data1 = data1[data1['003_Creatinine']>=0.4]
data1 = data1[data1['003_Creatinine']<=2]
data1 = data1[data1['004_Uric Acid']>=2.7]
data1 = data1[data1['004_Uric Acid']<=7]
data1 = data1[data1['005_Cholesterol']>=50]
data1 = data1[data1['005_Cholesterol']<=260]
data1 = data1[data1['006_Triglyceride']>=50]
data1 = data1[data1['006_Triglyceride']<=400]
data1 = data1[data1['008_HDL-C']>=20]
data1 = data1[data1['008_HDL-C']<=90]
data1 = data1[data1['009_LDL']<=190]
data1 = data1[data1['010_AST']<=60]
data1 = data1[data1['012_ALT']<=80]
data1 = data1[data1['013_Alkaline Phos']>=50]
data1 = data1[data1['013_Alkaline Phos']<=350]
data1 = data1[data1['071_HbA1c']>=3]
data1 = data1[data1['071_HbA1c']<=8]
data1 = data1[data1['CK']>=35.36]
data1 = data1[data1['CK']<=176.8]
data1 = data1[data1['LD-P']>=89] # LD-P ยังไม่ใส่ < 221 เนื่องจากยังสงสัยข้อมูล ถ้าใส่จะเหลือเพียง 1 ค่า 
data1 = data1[data1['GGT']<=120]
data1

,No.,LabNo,Sex,AgeSYear,Enose,Overall,Body shape age,Kidney,Heart,Liver,...,071_HbA1c,CK,LD-P,AMY7,TP1,DBIL,TBIL,ALB1,GGT,homocysteine
1,57.0,2.01809E+11,2,57,NaN,NaN,NaN,NaN,NaN,NaN,...,5.1,94.0,263.0,98.0,7.29,0.08,0.36,4.40,8.0,9.62
13,191.0,2.01901E+11,1,46,NaN,NaN,NaN,NaN,NaN,NaN,...,5.2,81.0,329.0,39.0,8.00,0.20,0.70,5.00,12.0,10.38
22,258.0,2.01901E+11,2,30,NaN,NaN,NaN,NaN,NaN,NaN,...,6.1,81.0,591.0,128.0,8.40,0.30,1.00,4.70,13.0,15.33
24,320.0,2.01901E+11,2,22,NaN,NaN,NaN,NaN,NaN,NaN,...,3.5,40.0,252.0,70.0,7.90,0.20,1.10,4.40,10.0,9.87
25,344.0,2.01901E+11,2,47,NaN,NaN,NaN,NaN,NaN,NaN,...,5.5,41.0,295.0,60.0,7.80,0.10,0.50,4.30,35.0,9.41
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
153,878.0,2.01902E+11,2,58,NaN,NaN,NaN,NaN,NaN,NaN,...,4.8,112.0,479.0,140.0,7.70,0.23,0.34,4.87,12.0,NaN
154,882.0,2.01902E+11,2,32,NaN,NaN,NaN,NaN,NaN,NaN,...,4.1,71.0,337.0,138.0,8.68,0.25,0.02,4.76,28.0,NaN
156,895.0,2.01903E+11,2,38,NaN,NaN,NaN,NaN,NaN,NaN,...,5.6,84.0,398.0,68.0,7.26,0.13,0.49,494.00,9.0,NaN
165,942.0,2.01903E+11,1,50,NaN,NaN,NaN,NaN,NaN,NaN,...,5.9,71.0,328.0,117.0,8.18,0.10,0.34,4.96,17.0,NaN
169,978.0,2.01903E+11,1,60,NaN,NaN,NaN,NaN,NaN,NaN,...,6.5,135.0,290.0,105.0,8.93,0.01,0.29,5.21,84.0,NaN

In [ ]:
for col_idy,j in data.iterrows():
  if col_idy
    print ("row:",col_idx)
    print ("row data:")
    print (j,"\n")

### LOOP
ปล.ยังคิดไม่ออก

In [67]:
for col_idx,i in data.iteritems():
  for col_idy,j in data.iterrows():
    if col_idx == 'BMI':
      if 15 <=col_idy<31:
        pass
      else:
        data.drop(index= col_idy,axis=0)
    else:
      pass
print(data['BMI'])

0      19.4
1      20.2
2      21.6
3      20.0
4      20.7
       ...
418    17.3
419    25.6
420     NaN
421     NaN
422     NaN
Name: BMI, Length: 423, dtype: float64

In [56]:
for col_idx,i in data.iteritems():
    print ("column:",col_idx)
    print ("column data:")
    print (i,"\n")

column: No.
column data:
0       50.0
1       57.0
2       86.0
3      104.0
4      109.0
       ...
418      NaN
419      NaN
420      NaN
421      NaN
422      NaN
Name: No., Length: 423, dtype: float64

column: LabNo
column data:
0      2.01809E+11
1      2.01809E+11
2       2.0181E+11
3       2.0181E+11
4      2.01811E+11
          ...
418            V14
419            V17
420            V19
421            V21
422            V22
Name: LabNo, Length: 423, dtype: object

column: Sex
column data:
0      2
1      2
2      2
3      2
4      2
      ..
418    2
419    2
420    2
421    1
422    2
Name: Sex, Length: 423, dtype: int64

column: AgeSYear
column data:
0      58
1      57
2      24
3      62
4      86
       ..
418    25
419    31
420    32
421    29
422    31
Name: AgeSYear, Length: 423, dtype: int64

column: Enose
column data:
0     NaN
1     NaN
2     NaN
3     NaN
4     NaN
       ..
418   NaN
419   NaN
420   NaN
421   NaN
422   NaN
Name: Enose, Length: 423, dtype: float64

column: Overall
column data:
0     NaN
1     NaN
2     NaN
3     NaN
4     NaN
       ..
418   NaN
419   NaN
420   NaN
421   NaN
422   NaN
Name: Overall, Length: 423, dtype: float64

column: Body shape age
column data:
0     NaN
1     NaN
2     NaN
3     NaN
4     NaN
       ..
418   NaN
419   NaN
420   NaN
421   NaN
422   NaN
Name: Body shape age, Length: 423, dtype: float64

column: Kidney
column data:
0     NaN
1     NaN
2     NaN
3     NaN
4     NaN
       ..
418   NaN
419   NaN
420   NaN
421   NaN
422   NaN
Name: Kidney, Length: 423, dtype: float64

column: Heart
column data:
0     NaN
1     NaN
2     NaN
3     NaN
4     NaN
       ..
418   NaN
419   NaN
420   NaN
421   NaN
422   NaN
Name: Heart, Length: 423, dtype: float64

column: Liver
column data:
0     NaN
1     NaN
2     NaN
3     NaN
4     NaN
       ..
418   NaN
419   NaN
420   NaN
421   NaN
422   NaN
Name: Liver, Length: 423, dtype: float64

column: Pancreas
column data:
0     NaN
1     NaN
2     NaN
3     NaN
4     NaN
       ..
418   NaN
419   NaN
420   NaN
421   NaN
422   NaN
Name: Pancreas, Length: 423, dtype: float64

column: biological age from telomere length
column data:
0      51.5
1      60.9
2      27.4
3      62.8
4      79.0
       ...
418    34.7
419    42.2
420    36.6
421    28.8
422    45.3
Name: biological age from telomere length , Length: 423, dtype: float64

column: telomere length (kb)
column data:
0      7.30
1      6.36
2      9.71
3      6.17
4      4.55
       ...
418    8.98
419    8.23
420    8.79
421    8.93
422    7.92
Name: telomere length (kb) , Length: 423, dtype: float64

column: DHEAs (BRIA)
column data:
0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
       ...
418     120
419    58.4
420     151
421     144
422     182
Name: DHEAs (BRIA), Length: 423, dtype: object

column: Weight
column data:
0      47.2
1      47.4
2      53.2
3      54.4
4      49.0
       ...
418    47.0
419    72.2
420     NaN
421     NaN
422     NaN
Name: Weight, Length: 423, dtype: float64

column: Height
column data:
0      156.0
1      153.0
2      157.0
3      165.0
4      154.0
       ...
418    165.0
419    168.0
420      NaN
421      NaN
422      NaN
Name: Height, Length: 423, dtype: float64

column: BMI
column data:
0      19.4
1      20.2
2      21.6
3      20.0
4      20.7
       ...
418    17.3
419    25.6
420     NaN
421     NaN
422     NaN
Name: BMI, Length: 423, dtype: float64

column: Systolic
column data:
0      112.0
1      114.0
2      103.0
3       95.0
4      129.0
       ...
418    104.0
419    123.0
420      NaN
421      NaN
422      NaN
Name: Systolic, Length: 423, dtype: float64

column: Diastolic
column data:
0      64.0
1      75.0
2      69.0
3      75.0
4      79.0
       ...
418    63.0
419    89.0
420     NaN
421     NaN
422     NaN
Name: Diastolic, Length: 423, dtype: float64

column: HeartRate
column data:
0      70.0
1      69.0
2      78.0
3      83.0
4      83.0
       ...
418    89.0
419    69.0
420     NaN
421     NaN
422     NaN
Name: HeartRate, Length: 423, dtype: float64

column: SMM
column data:
0       NaN
1      19.3
2      21.3
3      21.6
4       NaN
       ...
418     NaN
419     NaN
420     NaN
421     NaN
422     NaN
Name: SMM, Length: 423, dtype: float64

column: Fat Mass
column data:
0       NaN
1      12.5
2      14.6
3      15.2
4       NaN
       ...
418     NaN
419     NaN
420     NaN
421     NaN
422     NaN
Name: Fat Mass, Length: 423, dtype: float64

column: % Body fat
column data:
0       NaN
1      26.4
2      27.4
3      27.9
4       NaN
       ...
418     NaN
419     NaN
420     NaN
421     NaN
422     NaN
Name: % Body fat, Length: 423, dtype: float64

column: waist to hip radio
column data:
0       NaN
1      0.80
2      0.77
3      0.83
4       NaN
       ...
418     NaN
419     NaN
420     NaN
421     NaN
422     NaN
Name: waist to hip radio, Length: 423, dtype: float64

column: abdominal circumference
column data:
0       NaN
1      70.6
2      73.8
3      73.8
4       NaN
       ...
418     NaN
419     NaN
420     NaN
421     NaN
422     NaN
Name: abdominal circumference, Length: 423, dtype: float64

column: visceral fat area
column data:
0       NaN
1      43.0
2      39.0
3       7.0
4       NaN
       ...
418     NaN
419     NaN
420     NaN
421     NaN
422     NaN
Name: visceral fat area, Length: 423, dtype: float64

column: 001_Glucose
column data:
0      100.0
1       81.0
2       79.0
3       89.0
4      108.0
       ...
418     82.0
419     85.0
420     94.0
421     80.0
422     74.0
Name: 001_Glucose, Length: 423, dtype: float64

column: 002_BUN
column data:
0      10.0
1      15.0
2      12.0
3      17.0
4       9.0
       ...
418    15.0
419    15.0
420    10.0
421    23.0
422    12.0
Name: 002_BUN, Length: 423, dtype: float64

column: 003_Creatinine
column data:
0      0.6
1      1.0
2      0.8
3      0.7
4      0.7
      ...
418    0.6
419    0.6
420    0.7
421    1.0
422    0.7
Name: 003_Creatinine, Length: 423, dtype: float64

column: 004_Uric Acid
column data:
0      4.8
1      5.0
2      5.2
3      4.1
4      5.4
      ...
418    4.8
419    6.1
420    5.1
421    6.8
422    4.0
Name: 004_Uric Acid, Length: 423, dtype: float64

column: 005_Cholesterol
column data:
0      180
1      176
2      159
3      230
4      183
      ...
418    232
419    187
420    222
421    140
422    243
Name: 005_Cholesterol, Length: 423, dtype: int64

column: 006_Triglyceride
column data:
0       97
1       51
2       45
3       94
4       86
      ...
418     36
419     49
420     58
421     92
422    161
Name: 006_Triglyceride, Length: 423, dtype: int64

column: 008_HDL-C
column data:
0      62
1      72
2      52
3      61
4      39
       ..
418    96
419    51
420    79
421    48
422    87
Name: 008_HDL-C, Length: 423, dtype: int64

column: 009_LDL
column data:
0       98
1       94
2       98
3      151
4      127
      ...
418    128
419    127
420    132
421     73
422    124
Name: 009_LDL, Length: 423, dtype: int64

column: 010_AST
column data:
0      25
1      16
2      13
3      18
4      12
       ..
418    18
419    21
420    17
421    31
422    24
Name: 010_AST, Length: 423, dtype: int64

column: 012_ALT
column data:
0      32.0
1      16.0
2      17.0
3      31.0
4      22.0
       ...
418    12.0
419    24.0
420    10.0
421    75.0
422    11.0
Name: 012_ALT, Length: 423, dtype: float64

column: 013_Alkaline Phos
column data:
0      40.0
1      62.0
2      50.0
3      76.0
4      82.0
       ...
418    46.0
419    71.0
420    34.0
421    69.0
422    46.0
Name: 013_Alkaline Phos, Length: 423, dtype: float64

column: 071_HbA1c
column data:
0      5.8
1      5.1
2      5.4
3      5.6
4      6.2
      ...
418    NaN
419    NaN
420    NaN
421    NaN
422    NaN
Name: 071_HbA1c, Length: 423, dtype: float64

column: CK
column data:
0       89.0
1       94.0
2       78.0
3      251.0
4       25.0
       ...
418      NaN
419      NaN
420      NaN
421      NaN
422      NaN
Name: CK, Length: 423, dtype: float64

column: LD-P
column data:
0      112.0
1      263.0
2      402.0
3      403.0
4      376.0
       ...
418      NaN
419      NaN
420      NaN
421      NaN
422      NaN
Name: LD-P, Length: 423, dtype: float64

column: AMY7
column data:
0      100.0
1       98.0
2       72.0
3      166.0
4       46.0
       ...
418      NaN
419      NaN
420      NaN
421      NaN
422      NaN
Name: AMY7, Length: 423, dtype: float64

column: TP1
column data:
0      7.10
1      7.29
2      6.99
3      7.54
4      6.92
       ...
418     NaN
419     NaN
420     NaN
421     NaN
422     NaN
Name: TP1, Length: 423, dtype: float64

column: DBIL
column data:
0      0.13
1      0.08
2      0.04
3      0.07
4      0.22
       ...
418     NaN
419     NaN
420     NaN
421     NaN
422     NaN
Name: DBIL, Length: 423, dtype: float64

column: TBIL
column data:
0      1.03
1      0.36
2      0.35
3      0.40
4      0.60
       ...
418     NaN
419     NaN
420     NaN
421     NaN
422     NaN
Name: TBIL, Length: 423, dtype: float64

column: ALB1
column data:
0      4.52
1      4.40
2      4.57
3      4.23
4      3.55
       ...
418     NaN
419     NaN
420     NaN
421     NaN
422     NaN
Name: ALB1, Length: 423, dtype: float64

column: GGT
column data:
0       3.0
1       8.0
2      11.0
3      21.0
4      17.0
       ...
418     NaN
419     NaN
420     NaN
421     NaN
422     NaN
Name: GGT, Length: 423, dtype: float64

column: homocysteine
column data:
0      10.54
1       9.62
2      11.58
3       9.41
4      10.62
       ...
418      NaN
419      NaN
420      NaN
421      NaN
422      NaN
Name: homocysteine, Length: 423, dtype: float64