<a href="https://colab.research.google.com/github/Worachet-Ch/project2022/blob/main/Random_Forest.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import os
from google.colab import drive #เชื่อม Google drive
drive.mount('/content/drive')
path = '/content/drive/My Drive/project' #เข้า drive
data_X = pd.read_csv(os.path.join(path,'first_data.csv'))
data_Y = pd.read_csv(os.path.join(path,'dataset2.csv'))

Mounted at /content/drive

In [3]:
data_X.drop('Unnamed: 0',1,inplace = True)
data_Y.dropna(subset=['telomere length (kb) '], inplace = True)
data_Y.drop(['No.', 'LabNo','DHEAs (BRIA)'], axis=1,inplace = True)
data_Y.drop(data_Y.columns[2: 10], axis=1,inplace = True)
data_Y.drop(data_Y.columns[27:37], axis=1,inplace = True)

<ipython-input-3-5ecd7837be1a>:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  data_X.drop('Unnamed: 0',1,inplace = True)

In [4]:
data_X

,Sex,AgeSYear,Weight,Height,BMI,Systolic,Diastolic,HeartRate,SMM,Fat Mass,...,Creatinine,Uric Acid,Cholesterol,Triglyceride,HDL-C,LDL,AST,ALT,Alkaline Phos,HbA1c
0,2.0,58.0,47.200000,156.00000,19.400000,112.000,64.00,70.00,19.847,15.025,...,0.6,4.8,180.0,97.0,62.0,98.0,25.0,32.0,40.0,5.800000
1,2.0,57.0,47.400000,153.00000,20.200000,114.000,75.00,69.00,19.300,12.500,...,1.0,5.0,176.0,51.0,72.0,94.0,16.0,16.0,62.0,5.100000
2,2.0,24.0,53.200000,157.00000,21.600000,103.000,69.00,78.00,21.300,14.600,...,0.8,5.2,159.0,45.0,52.0,98.0,13.0,17.0,50.0,5.400000
3,2.0,62.0,54.400000,165.00000,20.000000,95.000,75.00,83.00,21.600,15.200,...,0.7,4.1,230.0,94.0,61.0,151.0,18.0,31.0,76.0,5.600000
4,2.0,86.0,49.000000,154.00000,20.700000,129.000,79.00,83.00,19.878,13.932,...,0.7,5.4,183.0,86.0,39.0,127.0,12.0,22.0,82.0,6.200000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
418,2.0,25.0,47.000000,165.00000,17.300000,104.000,63.00,89.00,20.381,18.684,...,0.6,4.8,232.0,36.0,96.0,128.0,18.0,12.0,46.0,5.426667
419,2.0,31.0,72.200000,168.00000,25.600000,123.000,89.00,69.00,25.838,19.464,...,0.6,6.1,187.0,49.0,51.0,127.0,21.0,24.0,71.0,5.520000
420,2.0,32.0,58.608675,162.00241,22.240723,113.420,71.38,75.64,23.317,20.276,...,0.7,5.1,222.0,58.0,79.0,132.0,17.0,10.0,34.0,5.486667
421,1.0,29.0,58.608675,162.00241,22.240723,115.985,74.54,85.45,27.483,21.162,...,1.0,6.8,140.0,92.0,48.0,73.0,31.0,75.0,69.0,5.420000
422,2.0,31.0,58.608675,162.00241,22.240723,116.730,73.36,76.10,23.056,21.261,...,0.7,4.0,243.0,161.0,87.0,124.0,24.0,11.0,46.0,6.000000

## First Data

In [5]:
data1 = data_Y['telomere length (kb) ']
data = data_X.copy()
data['telomere length (kb) '] = list(data1)
data

,Sex,AgeSYear,Weight,Height,BMI,Systolic,Diastolic,HeartRate,SMM,Fat Mass,...,Uric Acid,Cholesterol,Triglyceride,HDL-C,LDL,AST,ALT,Alkaline Phos,HbA1c,telomere length (kb)
0,2.0,58.0,47.200000,156.00000,19.400000,112.000,64.00,70.00,19.847,15.025,...,4.8,180.0,97.0,62.0,98.0,25.0,32.0,40.0,5.800000,7.30
1,2.0,57.0,47.400000,153.00000,20.200000,114.000,75.00,69.00,19.300,12.500,...,5.0,176.0,51.0,72.0,94.0,16.0,16.0,62.0,5.100000,6.36
2,2.0,24.0,53.200000,157.00000,21.600000,103.000,69.00,78.00,21.300,14.600,...,5.2,159.0,45.0,52.0,98.0,13.0,17.0,50.0,5.400000,9.71
3,2.0,62.0,54.400000,165.00000,20.000000,95.000,75.00,83.00,21.600,15.200,...,4.1,230.0,94.0,61.0,151.0,18.0,31.0,76.0,5.600000,6.17
4,2.0,86.0,49.000000,154.00000,20.700000,129.000,79.00,83.00,19.878,13.932,...,5.4,183.0,86.0,39.0,127.0,12.0,22.0,82.0,6.200000,4.55
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
418,2.0,25.0,47.000000,165.00000,17.300000,104.000,63.00,89.00,20.381,18.684,...,4.8,232.0,36.0,96.0,128.0,18.0,12.0,46.0,5.426667,8.98
419,2.0,31.0,72.200000,168.00000,25.600000,123.000,89.00,69.00,25.838,19.464,...,6.1,187.0,49.0,51.0,127.0,21.0,24.0,71.0,5.520000,8.23
420,2.0,32.0,58.608675,162.00241,22.240723,113.420,71.38,75.64,23.317,20.276,...,5.1,222.0,58.0,79.0,132.0,17.0,10.0,34.0,5.486667,8.79
421,1.0,29.0,58.608675,162.00241,22.240723,115.985,74.54,85.45,27.483,21.162,...,6.8,140.0,92.0,48.0,73.0,31.0,75.0,69.0,5.420000,8.93
422,2.0,31.0,58.608675,162.00241,22.240723,116.730,73.36,76.10,23.056,21.261,...,4.0,243.0,161.0,87.0,124.0,24.0,11.0,46.0,6.000000,7.92

In [6]:
data.isna().sum()

Sex                        0
AgeSYear                   0
Weight                     0
Height                     0
BMI                        0
Systolic                   0
Diastolic                  0
HeartRate                  0
SMM                        0
Fat Mass                   0
% Body fat                 0
waist to hip radio         0
abdominal circumference    0
visceral fat area          0
Glucose                    0
BUN                        0
Creatinine                 0
Uric Acid                  0
Cholesterol                0
Triglyceride               0
HDL-C                      0
LDL                        0
AST                        0
ALT                        0
Alkaline Phos              0
HbA1c                      0
telomere length (kb)       0
dtype: int64

In [7]:
y = data['telomere length (kb) ']
X = data.drop('telomere length (kb) ',1)

<ipython-input-7-c954eb9a847c>:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  X = data.drop('telomere length (kb) ',1)

In [8]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=216)

In [9]:
from sklearn.ensemble import RandomForestRegressor
rg = RandomForestRegressor(n_estimators=100,random_state=216)
rg.fit(X_train, y_train)

RandomForestRegressor(random_state=216)

In [10]:
y_pred = rg.predict(X_test)
y_pred

array([ 7.6543,  9.5395,  7.9194,  6.7895,  9.6325,  5.4933,  7.5443,
        6.8361,  8.4091,  6.8695,  7.1727,  6.6761, 10.3259,  5.9673,
        7.6697,  6.4597, 10.9149,  6.8226,  8.8431,  6.7036,  9.4283,
        6.4676,  9.3433,  6.7259,  8.7657,  5.4555,  7.5122,  7.149 ,
        8.4208,  7.9009,  6.6539,  9.9384,  9.9091,  8.443 ,  8.7946,
        8.8027,  5.9645, 10.1141,  6.747 ,  8.434 ,  7.1741,  8.0114,
       10.0691,  7.9677,  9.5943,  6.8433,  7.0977,  6.6553,  8.1175,
        8.1456,  8.426 ,  9.1509,  9.326 ,  8.2028,  6.3945,  9.3289,
        8.5837,  8.9301,  7.181 ,  9.1347,  7.8718, 10.1087,  8.8993,
        9.1931,  6.2221,  6.8827,  7.2632,  9.258 ,  6.5435,  7.7215,
        7.7505,  8.493 ,  5.964 ,  7.9765,  8.5971,  6.5807,  7.41  ,
        6.8148,  9.4378,  8.7961,  9.8188,  7.3619,  7.6613,  7.9383,
        9.4687])

In [11]:
from sklearn import metrics
#Train
print('R2 Value Train:',metrics.r2_score(y_train, rg.predict(X_train)))
print('MSE Train:',metrics.mean_squared_error(y_train, rg.predict(X_train)))
print('MAE Train:',metrics.mean_absolute_error(y_train, rg.predict(X_train)))

R2 Value Train: 0.9168257409771423
MSE Train: 0.29033243482248516
MAE Train: 0.2943464497041423

In [12]:
import numpy as np
print('Accuracy',100- (np.mean(np.abs((y_test - y_pred) / y_test)) * 100))

Accuracy 90.76790683979613

In [13]:
#Test
print('R2 Value Test:',metrics.r2_score(y_test, y_pred))
print('MSE Test:',metrics.mean_squared_error(y_test, y_pred))
print('MAE Test:',metrics.mean_absolute_error(y_test, y_pred))

R2 Value Test: 0.6635228790695955
MSE Test: 0.784044661882354
MAE Test: 0.6659576470588244

## Grid Search with Cross Validation

In [ ]:
from sklearn.model_selection import GridSearchCV

In [ ]:
param_grid = {
    'bootstrap': [True],
    'max_depth': [10,20,30,40,50],
    'max_features': [2, 3],
    'min_samples_leaf': [3, 4, 5],
    'min_samples_split': [8, 10, 12],
    'n_estimators': [100, 200, 300,500,700, 1000],
}

In [ ]:
rf = RandomForestRegressor()

In [ ]:
grid_search = GridSearchCV(estimator=rf,
                            param_grid=param_grid,
                            cv=3,
                            n_jobs=-1,
                            verbose=2)

In [ ]:
grid_search.fit(X_train, y_train)

Fitting 3 folds for each of 540 candidates, totalling 1620 fits

GridSearchCV(cv=3, estimator=RandomForestRegressor(), n_jobs=-1,
             param_grid={'bootstrap': [True], 'max_depth': [10, 20, 30, 40, 50],
                         'max_features': [2, 3], 'min_samples_leaf': [3, 4, 5],
                         'min_samples_split': [8, 10, 12],
                         'n_estimators': [100, 200, 300, 500, 700, 1000]},
             verbose=2)

In [ ]:
best_grid = grid_search.best_estimator_

In [ ]:
best_grid

RandomForestRegressor(max_depth=20, max_features=3, min_samples_leaf=3,
                      min_samples_split=8, n_estimators=200)

In [ ]:
rf = RandomForestRegressor(max_depth=20, max_features=3, min_samples_leaf=3,
                      min_samples_split=8,n_estimators=200)

In [ ]:
rf.fit(X_train, y_train)

RandomForestRegressor(max_depth=20, max_features=3, min_samples_leaf=3,
                      min_samples_split=8, n_estimators=200)

In [ ]:
y_pred = rf.predict(X_test)
y_pred

array([8.00083097, 8.48993603, 7.87779863, 6.90538812, 8.25607582,
       6.58095415, 7.22135297, 7.47114175, 8.60919998, 6.8170258 ,
       7.12884461, 6.68961591, 8.7052424 , 6.98699767, 7.7717267 ,
       7.0415946 , 8.01579537, 6.70717681, 8.1681875 , 7.36671688,
       8.22720669, 7.85111047, 9.01755222, 7.35011983, 8.77287824,
       6.62480053, 7.35464977, 7.27318268, 8.24330555, 8.11727377,
       7.14027493, 9.39142213, 9.60648106, 8.40684556, 8.68089887,
       8.8989271 , 7.62197959, 9.54613926, 7.33823545, 8.89413633,
       7.41434338, 8.34833552, 9.35848468, 7.70694864, 9.44591142,
       7.47567023, 7.09841008, 7.14591494, 8.09432357, 7.93753216,
       8.03981769, 9.19154279, 8.68167068, 8.38175185, 7.21566722,
       9.03225682, 8.43621188, 8.51609583, 6.73778551, 8.92340841,
       8.19835364, 8.94358225, 8.68284158, 8.95504682, 8.13200383,
       6.98263905, 7.27096742, 8.29520597, 6.98130893, 7.39849796,
       7.89695422, 8.52212102, 7.99832864, 8.52381229, 8.71921518,
       7.30303086, 7.8323813 , 6.97607796, 8.30522562, 8.27521237,
       9.33439013, 7.28171281, 7.88371869, 7.64096025, 9.1018629 ])

In [ ]:
print('R2 Value Train:',metrics.r2_score(y_train, rf.predict(X_train)))
print('MSE Train:',metrics.mean_squared_error(y_train, rf.predict(X_train)))
print('MAE Train:',metrics.mean_absolute_error(y_train, rf.predict(X_train)))

R2 Value Train: 0.6145089907540042
MSE Train: 1.3456151534311764
MAE Train: 0.5147743525026618

In [ ]:
import numpy as np
print('Accuracy',100- (np.mean(np.abs((y_test - y_pred) / y_test)) * 100))

Accuracy 87.7305013504704

In [ ]:
print('R2 Value Test:',metrics.r2_score(y_test, y_pred))
print('MSE Test:',metrics.mean_squared_error(y_test, y_pred))
print('MAE Test:',metrics.mean_absolute_error(y_test, y_pred))

R2 Value Test: 0.46979140916211537
MSE Test: 1.2354694850607442
MAE Test: 0.8469473122092249

## Second Data

In [14]:
data_X = pd.read_csv(os.path.join(path,'second_data.csv'))
data_X.drop('Unnamed: 0',1,inplace = True)

<ipython-input-14-d28e4ea85a49>:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  data_X.drop('Unnamed: 0',1,inplace = True)

In [15]:
data2 = data_Y['telomere length (kb) ']
data = data_X.copy()
data['telomere length (kb) '] = list(data2)
data

,Sex,AgeSYear,Weight,Height,BMI,Systolic,Diastolic,HeartRate,SMM,Fat Mass,...,Uric Acid,Cholesterol,Triglyceride,HDL-C,LDL,AST,ALT,Alkaline Phos,HbA1c,telomere length (kb)
0,2.0,58.0,47.2,156.0,19.4,112.0,64.0,70.0,19.8,13.7,...,4.8,180.0,97.0,62.0,98.0,25.0,32.0,40.0,5.8,7.30
1,2.0,57.0,47.4,153.0,20.2,114.0,75.0,69.0,19.3,12.5,...,5.0,176.0,51.0,72.0,94.0,16.0,16.0,62.0,5.1,6.36
2,2.0,24.0,53.2,157.0,21.6,103.0,69.0,78.0,21.3,14.6,...,5.2,159.0,45.0,52.0,98.0,13.0,17.0,50.0,5.4,9.71
3,2.0,62.0,54.4,165.0,20.0,95.0,75.0,83.0,21.6,15.2,...,4.1,230.0,94.0,61.0,151.0,18.0,31.0,76.0,5.6,6.17
4,2.0,86.0,49.0,154.0,20.7,129.0,79.0,83.0,19.7,15.3,...,5.4,183.0,86.0,39.0,127.0,12.0,22.0,82.0,6.2,4.55
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
418,2.0,25.0,47.0,165.0,17.3,104.0,63.0,89.0,20.3,13.9,...,4.8,232.0,36.0,96.0,128.0,18.0,12.0,46.0,5.3,8.98
419,2.0,31.0,72.2,168.0,25.6,123.0,89.0,69.0,25.2,19.3,...,6.1,187.0,49.0,51.0,127.0,21.0,24.0,71.0,5.2,8.23
420,2.0,32.0,62.8,159.3,24.6,114.0,72.3,76.1,23.2,21.6,...,5.1,222.0,58.0,79.0,132.0,17.0,10.0,34.0,5.6,8.79
421,1.0,29.0,61.8,170.0,21.8,112.7,75.3,79.1,27.4,11.1,...,6.8,140.0,92.0,48.0,73.0,31.0,75.0,69.0,6.0,8.93
422,2.0,31.0,61.1,161.1,23.8,114.3,72.3,73.6,23.4,20.1,...,4.0,243.0,161.0,87.0,124.0,24.0,11.0,46.0,5.0,7.92

In [16]:
y = data['telomere length (kb) ']
X = data.drop('telomere length (kb) ',1)

<ipython-input-16-c954eb9a847c>:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  X = data.drop('telomere length (kb) ',1)

In [17]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=216)

In [18]:
from sklearn.ensemble import RandomForestRegressor
rg = RandomForestRegressor(n_estimators=100,random_state=216)
rg.fit(X_train, y_train)

RandomForestRegressor(random_state=216)

In [19]:
y_pred = rg.predict(X_test)
y_pred

array([ 7.6607,  9.6383,  7.9088,  6.8985,  9.5464,  5.4086,  7.5279,
        6.7537,  8.5054,  6.9091,  7.2264,  6.6214, 10.1202,  5.9474,
        7.6081,  6.3695, 10.5053,  6.9167,  8.8522,  6.6686,  9.392 ,
        6.4896,  9.3777,  6.7241,  8.8467,  5.6679,  7.5335,  7.0964,
        8.2732,  7.852 ,  6.6618,  9.7233,  9.6734,  8.4709,  8.77  ,
        8.7546,  5.9295, 10.2233,  6.7588,  8.4026,  8.4246,  8.0504,
       10.0302,  8.0572,  9.7636,  6.8853,  7.0983,  6.6925,  8.1859,
        8.2143,  8.3044,  9.1468,  9.4497,  8.2758,  6.49  ,  9.2159,
        8.6167,  9.1153,  7.3313,  9.1576,  7.7909, 10.0839,  8.9226,
        9.2692,  5.6923,  6.814 ,  7.3897,  9.1795,  6.5511,  7.7223,
        7.7398,  8.3899,  5.9478,  7.9227,  8.5347,  6.5416,  7.4829,
        6.7983,  9.6598,  8.7569,  9.8166,  7.4606,  7.6211,  7.8775,
        9.4596])

In [20]:
#Train
print('R2 Value Train:',metrics.r2_score(y_train, rg.predict(X_train)))
print('MSE Train:',metrics.mean_squared_error(y_train, rg.predict(X_train)))
print('MAE Train:',metrics.mean_absolute_error(y_train, rg.predict(X_train)))

R2 Value Train: 0.9208881657229623
MSE Train: 0.27615192174556197
MAE Train: 0.2845097633136095

In [21]:
print('Accuracy',100- (np.mean(np.abs((y_test - y_pred) / y_test)) * 100))

Accuracy 90.46073739353196

In [22]:
#Test
print('R2 Value Test:',metrics.r2_score(y_test, y_pred))
print('MSE Test:',metrics.mean_squared_error(y_test, y_pred))
print('MAE Test:',metrics.mean_absolute_error(y_test, y_pred))

R2 Value Test: 0.6574175945247328
MSE Test: 0.7982709360000007
MAE Test: 0.6920470588235297