<a href="https://colab.research.google.com/github/Worachet-Ch/project2022/blob/main/random_nan_and_imputation_with_Systolic_variable.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd #นำเข้า pandas แทนที่ด้วย pd
import os# os ใช้จัดการกับไฟล์ ว่าอยู่ที่ไหน
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import missingno as mno
import missingno as msno
from sklearn import linear_model
%matplotlib inline
import matplotlib
import sklearn 
from sklearn.impute import KNNImputer
from sklearn.metrics import mean_squared_error
import time

In [2]:
from google.colab import drive #เชื่อม Google drive
drive.mount('/content/drive')
path = '/content/drive/My Drive/project' #เข้า drive
data_file_path = os.path.join(path,'data_notmissing.csv') #ไปที่ไฟล์ confirmed-cases-since-280265.csv
data = pd.read_csv(data_file_path) #อ่านไฟล์ csv

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [3]:
data.drop({'Unnamed: 0','telomere length (kb) '},1,inplace = True)

<ipython-input-3-4cc622f169ae>:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  data.drop({'Unnamed: 0','telomere length (kb) '},1,inplace = True)

In [4]:
data

,Sex,AgeSYear,Weight,Height,BMI,Systolic,Diastolic,HeartRate,SMM,Fat Mass,...,003_Creatinine,004_Uric Acid,005_Cholesterol,006_Triglyceride,008_HDL-C,009_LDL,010_AST,012_ALT,013_Alkaline Phos,071_HbA1c
0,2,57.0,47.4,153.0,20.2,114.0,75.0,69.0,19.3,12.5,...,1.0,5.0,176.0,51.0,72.0,94.0,16.0,16.0,62.0,5.1
1,2,24.0,53.2,157.0,21.6,103.0,69.0,78.0,21.3,14.6,...,0.8,5.2,159.0,45.0,52.0,98.0,13.0,17.0,50.0,5.4
2,2,62.0,54.4,165.0,20.0,95.0,75.0,83.0,21.6,15.2,...,0.7,4.1,230.0,94.0,61.0,151.0,18.0,31.0,76.0,5.6
3,2,35.0,56.3,161.0,21.7,95.0,57.0,72.0,22.5,15.4,...,0.6,5.0,198.0,47.0,68.0,120.0,16.0,20.0,35.0,5.1
4,1,46.0,72.3,170.0,25.0,133.0,77.0,107.0,29.2,19.0,...,0.9,6.9,194.0,63.0,60.0,122.0,15.0,19.0,69.0,5.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
148,1,60.0,72.0,170.0,24.9,131.0,74.0,69.0,30.5,13.8,...,0.9,6.9,182.0,179.0,39.0,107.0,36.0,31.0,79.0,6.5
149,1,58.0,62.0,168.0,22.0,103.0,76.0,72.0,27.8,11.9,...,1.0,6.8,191.0,62.0,47.0,132.0,16.0,33.0,42.0,6.8
150,2,42.0,55.5,165.0,20.4,102.0,52.0,77.0,22.9,14.1,...,0.8,4.7,212.0,68.0,63.0,135.0,11.0,16.0,33.0,4.8
151,2,61.0,61.8,159.0,24.4,117.0,60.0,72.0,23.4,19.2,...,0.8,5.1,235.0,66.0,56.0,166.0,15.0,23.0,44.0,5.4
152,2,31.0,58.2,169.0,20.4,108.0,69.0,73.0,25.0,13.0,...,0.7,4.3,200.0,44.0,56.0,135.0,14.0,21.0,31.0,4.7

# 10 % random nan

In [5]:
t_start = time.time()
for i in range(1,1001):
  globals()[f'Systolic10_{i}'] = data.copy() # for loop variable name
  np.random.seed(i) # for loop seed
  n = int((153*10/100)) 
  index_nan = np.random.choice(globals()[f'Systolic10_{i}']['Systolic'].size, n, replace=False) #globals()[name dataframe][column name].size
  globals()[f'Systolic10_{i}']['Systolic'].ravel()[index_nan] = np.nan
t_end = time.time()
print(f'เวลาที่ใช้ในการประมวลผล {t_end- t_start} วินาที')
print(f'เวลาที่ใช้ในการประมวลผล {(t_end- t_start)/60} นาที')

เวลาที่ใช้ในการประมวลผล 0.22958850860595703 วินาที
เวลาที่ใช้ในการประมวลผล 0.003826475143432617 นาที

In [6]:
Systolic10_1

,Sex,AgeSYear,Weight,Height,BMI,Systolic,Diastolic,HeartRate,SMM,Fat Mass,...,003_Creatinine,004_Uric Acid,005_Cholesterol,006_Triglyceride,008_HDL-C,009_LDL,010_AST,012_ALT,013_Alkaline Phos,071_HbA1c
0,2,57.0,47.4,153.0,20.2,114.0,75.0,69.0,19.3,12.5,...,1.0,5.0,176.0,51.0,72.0,94.0,16.0,16.0,62.0,5.1
1,2,24.0,53.2,157.0,21.6,103.0,69.0,78.0,21.3,14.6,...,0.8,5.2,159.0,45.0,52.0,98.0,13.0,17.0,50.0,5.4
2,2,62.0,54.4,165.0,20.0,95.0,75.0,83.0,21.6,15.2,...,0.7,4.1,230.0,94.0,61.0,151.0,18.0,31.0,76.0,5.6
3,2,35.0,56.3,161.0,21.7,95.0,57.0,72.0,22.5,15.4,...,0.6,5.0,198.0,47.0,68.0,120.0,16.0,20.0,35.0,5.1
4,1,46.0,72.3,170.0,25.0,133.0,77.0,107.0,29.2,19.0,...,0.9,6.9,194.0,63.0,60.0,122.0,15.0,19.0,69.0,5.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
148,1,60.0,72.0,170.0,24.9,131.0,74.0,69.0,30.5,13.8,...,0.9,6.9,182.0,179.0,39.0,107.0,36.0,31.0,79.0,6.5
149,1,58.0,62.0,168.0,22.0,103.0,76.0,72.0,27.8,11.9,...,1.0,6.8,191.0,62.0,47.0,132.0,16.0,33.0,42.0,6.8
150,2,42.0,55.5,165.0,20.4,102.0,52.0,77.0,22.9,14.1,...,0.8,4.7,212.0,68.0,63.0,135.0,11.0,16.0,33.0,4.8
151,2,61.0,61.8,159.0,24.4,117.0,60.0,72.0,23.4,19.2,...,0.8,5.1,235.0,66.0,56.0,166.0,15.0,23.0,44.0,5.4
152,2,31.0,58.2,169.0,20.4,108.0,69.0,73.0,25.0,13.0,...,0.7,4.3,200.0,44.0,56.0,135.0,14.0,21.0,31.0,4.7

## Imputation using Mean

In [7]:
from sklearn.impute import SimpleImputer

In [8]:
t_start = time.time()
mean10_imputer = SimpleImputer(strategy='mean')
for i in range(1,1001):
  globals()[f'imputed_mean10_{i}'] = mean10_imputer.fit_transform(globals()[f'Systolic10_{i}'].copy()) #for loop miss forest impputation 
  globals()[f'MSE_MEAN10_{i}'] = mean_squared_error(data, globals()[f'imputed_mean10_{i}']) # for loop mean_squared_error
t_end = time.time()
t10_MEAN= (t_end- t_start)

In [9]:
MSE_MEAN10_1

0.6752880049471843

In [10]:
t_start = time.time()
mse_mean10_total = 0 
MSE_MEAN10_1001 = 0
for i in range(0,1001):
  mse_mean10_total = mse_mean10_total + globals()[f'MSE_MEAN10_{i+1}']
AMSE_Systolic10_mean = mse_mean10_total/1000
print(f'AMSE_Systolic10_mean = {AMSE_Systolic10_mean}')
t_end = time.time()
print(f'เวลาที่ใช้ในการประมวลผล {t_end- t_start} วินาที')
print(f'เวลาที่ใช้ในการประมวลผล {(t_end- t_start)/60} นาที')

AMSE_Systolic10_mean = 0.6560541472110476
เวลาที่ใช้ในการประมวลผล 0.0007507801055908203 วินาที
เวลาที่ใช้ในการประมวลผล 1.2513001759847005e-05 นาที

## Imputation using the miss forest

In [11]:
import sys
import sklearn.neighbors._base
sys.modules['sklearn.neighbors.base'] = sklearn.neighbors._base
!pip install missingpy
import missingpy
from missingpy import MissForest
from sklearn.metrics import mean_squared_error

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: missingpy in /usr/local/lib/python3.8/dist-packages (0.2.0)

In [ ]:
t_start = time.time()
MF10_imputer = MissForest()
for i in range(1,1001):
  globals()[f'imputed_mf10_{i}'] = MF10_imputer.fit_transform(globals()[f'Systolic10_{i}'].copy()) #for loop miss forest impputation 
  globals()[f'MSE_MF10_{i}'] = mean_squared_error(data, globals()[f'imputed_mf10_{i}']) # for loop mean_squared_error
t_end = time.time()
t10_MF= (t_end- t_start)

In [13]:
t_start = time.time()
mse_mf10_total = 0 
MSE_MF10_1001 = 0
for i in range(0,1001):
  mse_mf10_total = mse_mf10_total + globals()[f'MSE_MF10_{i+1}']
AMSE_Systolic10_mf = mse_mf10_total/1000
print(f'AMSE_Systolic10_mf = {AMSE_Systolic10_mf}')
t_end = time.time()
print(f'เวลาที่ใช้ในการประมวลผล {t_end- t_start} วินาที')
print(f'เวลาที่ใช้ในการประมวลผล {(t_end- t_start)/60} นาที')

AMSE_Systolic10_mf = 0.3981160829813979
เวลาที่ใช้ในการประมวลผล 0.0014553070068359375 วินาที
เวลาที่ใช้ในการประมวลผล 2.425511678059896e-05 นาที

## Imputation using the KNN

In [14]:
from sklearn import neighbors
from sklearn.impute import KNNImputer

In [15]:
t_start = time.time()
KNN10_imputer = KNNImputer(n_neighbors = 15)
for i in range(1,1001):
  globals()[f'imputed_KNN10_{i}'] = KNN10_imputer.fit_transform(globals()[f'Systolic10_{i}'].copy())
  globals()[f'MSE_KNN10_{i}'] = mean_squared_error(data, globals()[f'imputed_KNN10_{i}'])
t_end = time.time()
t10_KNN= (t_end- t_start)

In [16]:
t_start = time.time()
mse_knn10_total = 0 
MSE_KNN10_1001 = 0
for i in range(0,1001):
  mse_knn10_total = mse_knn10_total + globals()[f'MSE_KNN10_{i+1}']
AMSE_Systolic10_knn = mse_knn10_total/1000
print(f'AMSE_Systolic10_knn = {AMSE_Systolic10_knn}')
t_end = time.time()
print(f'เวลาที่ใช้ในการประมวลผล {t_end- t_start} วินาที')
print(f'เวลาที่ใช้ในการประมวลผล {(t_end- t_start)/60} นาที')

AMSE_Systolic10_knn = 0.5164972325568408
เวลาที่ใช้ในการประมวลผล 0.0008206367492675781 วินาที
เวลาที่ใช้ในการประมวลผล 1.3677279154459636e-05 นาที

## Imputation using the MICE

In [17]:
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer
from sklearn.linear_model import LinearRegression
from sklearn import svm

### LinearRegression model

In [ ]:
t_start = time.time()
lr = LinearRegression()
for i in range(1,1001):
  imp = IterativeImputer(estimator= lr , max_iter= 10, verbose=2, imputation_order='roman',initial_strategy = 'mean',random_state= i)
  globals()[f'imputed_lr10_{i}'] = imp.fit_transform(globals()[f'Systolic10_{i}'].copy())
  globals()[f'MSE_lr10_{i}'] = mean_squared_error(data, globals()[f'imputed_lr10_{i}'])
t_end = time.time()
t10_LR= (t_end- t_start)

In [19]:
t_start = time.time()
mse_lr10_total = 0 
MSE_lr10_1001 = 0
for i in range(0,1001):
  mse_lr10_total = mse_lr10_total + globals()[f'MSE_lr10_{i+1}']
AMSE_Systolic10_lr = mse_lr10_total/1000
print(f'AMSE_Systolic10_lr = {AMSE_Systolic10_lr}')
t_end = time.time()
print(f'เวลาที่ใช้ในการประมวลผล {t_end- t_start} วินาที')
print(f'เวลาที่ใช้ในการประมวลผล {(t_end- t_start)/60} นาที')

AMSE_Systolic10_lr = 0.7607934593355028
เวลาที่ใช้ในการประมวลผล 0.00138092041015625 วินาที
เวลาที่ใช้ในการประมวลผล 2.3015340169270833e-05 นาที

### Support Vector Machine model

In [ ]:
t_start = time.time()
regr = svm.SVR()
for i in range(1,1001):
  svm_svr = IterativeImputer(estimator= regr, max_iter= 10, verbose=2, imputation_order='roman',initial_strategy = 'mean',random_state= i)
  globals()[f'imputed_svm10_{i}'] = svm_svr.fit_transform(globals()[f'Systolic10_{i}'].copy())
  globals()[f'MSE_svm10_{i}'] = mean_squared_error(data, globals()[f'imputed_svm10_{i}'])
t_end = time.time()
t10_SVM= (t_end- t_start)

In [21]:
t_start = time.time()
mse_svm10_total = 0 
MSE_svm10_1001 = 0
for i in range(0,1001):
  mse_svm10_total = mse_svm10_total + globals()[f'MSE_svm10_{i+1}']
AMSE_Systolic10_svm = mse_svm10_total/1000
print(f'AMSE_Systolic10_svm = {AMSE_Systolic10_svm}')
t_end = time.time()
print(f'เวลาที่ใช้ในการประมวลผล {t_end- t_start} วินาที')
print(f'เวลาที่ใช้ในการประมวลผล {(t_end- t_start)/60} นาที')

AMSE_Systolic10_svm = 0.6079166388018563
เวลาที่ใช้ในการประมวลผล 0.0016927719116210938 วินาที
เวลาที่ใช้ในการประมวลผล 2.8212865193684895e-05 นาที

## Imputation using the EM

### impy.em

In [22]:
!pip install impyute
import impyute as impy

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: impyute in /usr/local/lib/python3.8/dist-packages (0.0.8)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.8/dist-packages (from impyute) (1.0.2)
Requirement already satisfied: numpy in /usr/local/lib/python3.8/dist-packages (from impyute) (1.21.6)
Requirement already satisfied: scipy in /usr/local/lib/python3.8/dist-packages (from impyute) (1.7.3)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.8/dist-packages (from scikit-learn->impyute) (3.1.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.8/dist-packages (from scikit-learn->impyute) (1.2.0)

In [23]:
t_start = time.time()
for i in range(1,1001):
  globals()[f'imputed_impy10_{i}'] = impy.em(globals()[f'Systolic10_{i}'].values.copy())
  globals()[f'MSE_impy10_{i}'] = mean_squared_error(data, globals()[f'imputed_impy10_{i}'])
t_end = time.time()
t10_EM= (t_end- t_start)

In [24]:
t_start = time.time()
mse_impy10_total = 0 
MSE_impy10_1001 = 0
for i in range(0,1001):
  mse_impy10_total = mse_impy10_total + globals()[f'MSE_impy10_{i+1}']
AMSE_Systolic10_impy = mse_impy10_total/1000
print(f'AMSE_Systolic10_impy = {AMSE_Systolic10_impy}')
t_end = time.time()
print(f'เวลาที่ใช้ในการประมวลผล {t_end- t_start} วินาที')
print(f'เวลาที่ใช้ในการประมวลผล {(t_end- t_start)/60} นาที')

AMSE_Systolic10_impy = 1.2421439378827015
เวลาที่ใช้ในการประมวลผล 0.0009644031524658203 วินาที
เวลาที่ใช้ในการประมวลผล 1.607338587443034e-05 นาที

# 20 % random nan

In [25]:
t_start = time.time()
for i in range(1,1001):
  globals()[f'Systolic20_{i}'] = data.copy() # for loop variable name
  np.random.seed(i) # for loop seed
  n = int((153*20/100)) 
  index_nan = np.random.choice(globals()[f'Systolic20_{i}']['Systolic'].size, n, replace=False) #globals()[name dataframe][column name].size
  globals()[f'Systolic20_{i}']['Systolic'].ravel()[index_nan] = np.nan
t_end = time.time()
print(f'เวลาที่ใช้ในการประมวลผล {t_end- t_start} วินาที')
print(f'เวลาที่ใช้ในการประมวลผล {(t_end- t_start)/60} นาที')

เวลาที่ใช้ในการประมวลผล 0.3982970714569092 วินาที
เวลาที่ใช้ในการประมวลผล 0.00663828452428182 นาที

## Imputation using Mean

In [26]:
from sklearn.impute import SimpleImputer

In [27]:
t_start = time.time()
mean20_imputer = SimpleImputer(strategy='mean')
for i in range(1,1001):
  globals()[f'imputed_mean20_{i}'] = mean20_imputer.fit_transform(globals()[f'Systolic20_{i}'].copy()) #for loop miss forest impputation 
  globals()[f'MSE_MEAN20_{i}'] = mean_squared_error(data, globals()[f'imputed_mean20_{i}']) # for loop mean_squared_error
t_end = time.time()
t20_MEAN = (t_end- t_start)

In [28]:
t_start = time.time()
mse_mean20_total = 0 
MSE_MEAN20_1001 = 0
for i in range(0,1001):
  mse_mean20_total = mse_mean20_total + globals()[f'MSE_MEAN20_{i+1}']
AMSE_Systolic20_mean = mse_mean20_total/1000
print(f'AMSE_Systolic20_mean = {AMSE_Systolic20_mean}')
t_end = time.time()
print(f'เวลาที่ใช้ในการประมวลผล {t_end- t_start} วินาที')
print(f'เวลาที่ใช้ในการประมวลผล {(t_end- t_start)/60} นาที')

AMSE_Systolic20_mean = 1.318454221597728
เวลาที่ใช้ในการประมวลผล 0.0010161399841308594 วินาที
เวลาที่ใช้ในการประมวลผล 1.693566640218099e-05 นาที

## Imputation using the miss forest

In [29]:
import sys
import sklearn.neighbors._base
sys.modules['sklearn.neighbors.base'] = sklearn.neighbors._base
!pip install missingpy
import missingpy
from missingpy import MissForest
from sklearn.metrics import mean_squared_error

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: missingpy in /usr/local/lib/python3.8/dist-packages (0.2.0)

In [ ]:
t_start = time.time()
MF20_imputer = MissForest()
for i in range(1,1001):
  globals()[f'imputed_mf20_{i}'] = MF20_imputer.fit_transform(globals()[f'Systolic20_{i}'].copy()) #for loop miss forest impputation 
  globals()[f'MSE_MF20_{i}'] = mean_squared_error(data, globals()[f'imputed_mf20_{i}']) # for loop mean_squared_error
t_end = time.time()
t20_MF = (t_end- t_start)

In [31]:
t_start = time.time()
mse_mf20_total = 0 
MSE_MF20_1001 = 0
for i in range(0,1001):
  mse_mf20_total = mse_mf20_total + globals()[f'MSE_MF20_{i+1}']
AMSE_Systolic20_mf = mse_mf20_total/1000
print(f'AMSE_Systolic20_mf = {AMSE_Systolic20_mf}')
t_end = time.time()
print(f'เวลาที่ใช้ในการประมวลผล {t_end- t_start} วินาที')
print(f'เวลาที่ใช้ในการประมวลผล {(t_end- t_start)/60} นาที')

AMSE_Systolic20_mf = 0.8005037496480644
เวลาที่ใช้ในการประมวลผล 0.0020551681518554688 วินาที
เวลาที่ใช้ในการประมวลผล 3.425280253092448e-05 นาที

## Imputation using the KNN

In [32]:
from sklearn import neighbors
from sklearn.impute import KNNImputer

In [33]:
t_start = time.time()
KNN20_imputer = KNNImputer(n_neighbors = 15)
for i in range(1,1001):
  globals()[f'imputed_KNN20_{i}'] = KNN20_imputer.fit_transform(globals()[f'Systolic20_{i}'].copy())
  globals()[f'MSE_KNN20_{i}'] = mean_squared_error(data, globals()[f'imputed_KNN20_{i}'])
t_end = time.time()
t20_KNN = (t_end- t_start)

In [34]:
t_start = time.time()
mse_knn20_total = 0 
MSE_KNN20_1001 = 0
for i in range(0,1001):
  mse_knn20_total = mse_knn20_total + globals()[f'MSE_KNN20_{i+1}']
AMSE_Systolic20_knn = mse_knn20_total/1000
print(f'AMSE_Systolic20_knn = {AMSE_Systolic20_knn}')
t_end = time.time()
print(f'เวลาที่ใช้ในการประมวลผล {t_end- t_start} วินาที')
print(f'เวลาที่ใช้ในการประมวลผล {(t_end- t_start)/60} นาที')

AMSE_Systolic20_knn = 1.0408277045975098
เวลาที่ใช้ในการประมวลผล 0.00083160400390625 วินาที
เวลาที่ใช้ในการประมวลผล 1.3860066731770833e-05 นาที

## Imputation using the MICE

In [35]:
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer
from sklearn.linear_model import LinearRegression
from sklearn import svm

### LinearRegression model

In [ ]:
t_start = time.time()
lr = LinearRegression()
for i in range(1,1001):
  imp = IterativeImputer(estimator= lr , max_iter= 10, verbose=2, imputation_order='roman',initial_strategy = 'mean',random_state= i)
  globals()[f'imputed_lr20_{i}'] = imp.fit_transform(globals()[f'Systolic20_{i}'].copy())
  globals()[f'MSE_lr20_{i}'] = mean_squared_error(data, globals()[f'imputed_lr20_{i}'])
t_end = time.time()
t20_LR = (t_end- t_start)

In [37]:
t_start = time.time()
mse_lr20_total = 0 
MSE_lr20_1001 = 0
for i in range(0,1001):
  mse_lr20_total = mse_lr20_total + globals()[f'MSE_lr20_{i+1}']
AMSE_Systolic20_lr = mse_lr20_total/1000
print(f'AMSE_Systolic20_lr = {AMSE_Systolic20_lr}')
t_end = time.time()
print(f'เวลาที่ใช้ในการประมวลผล {t_end- t_start} วินาที')
print(f'เวลาที่ใช้ในการประมวลผล {(t_end- t_start)/60} นาที')

AMSE_Systolic20_lr = 1.6694746466625061
เวลาที่ใช้ในการประมวลผล 0.0013110637664794922 วินาที
เวลาที่ใช้ในการประมวลผล 2.1851062774658204e-05 นาที

### Support Vector Machine model

In [ ]:
t_start = time.time()
regr = svm.SVR()
for i in range(1,1001):
  svm_svr = IterativeImputer(estimator= regr, max_iter= 10, verbose=2, imputation_order='roman',initial_strategy = 'mean',random_state= i)
  globals()[f'imputed_svm20_{i}'] = svm_svr.fit_transform(globals()[f'Systolic20_{i}'].copy())
  globals()[f'MSE_svm20_{i}'] = mean_squared_error(data, globals()[f'imputed_svm20_{i}'])
t_end = time.time()
t20_SVM = (t_end- t_start)

In [39]:
t_start = time.time()
mse_svm20_total = 0 
MSE_svm20_1001 = 0
for i in range(0,1001):
  mse_svm20_total = mse_svm20_total + globals()[f'MSE_svm20_{i+1}']
AMSE_Systolic20_svm = mse_svm20_total/1000
print(f'AMSE_Systolic20_svm = {AMSE_Systolic20_svm}')
t_end = time.time()
print(f'เวลาที่ใช้ในการประมวลผล {t_end- t_start} วินาที')
print(f'เวลาที่ใช้ในการประมวลผล {(t_end- t_start)/60} นาที')

AMSE_Systolic20_svm = 1.2289544977614353
เวลาที่ใช้ในการประมวลผล 0.0015103816986083984 วินาที
เวลาที่ใช้ในการประมวลผล 2.5173028310139973e-05 นาที

## Imputation using the EM

### impy.em

In [40]:
!pip install impyute
import impyute as impy

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: impyute in /usr/local/lib/python3.8/dist-packages (0.0.8)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.8/dist-packages (from impyute) (1.0.2)
Requirement already satisfied: scipy in /usr/local/lib/python3.8/dist-packages (from impyute) (1.7.3)
Requirement already satisfied: numpy in /usr/local/lib/python3.8/dist-packages (from impyute) (1.21.6)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.8/dist-packages (from scikit-learn->impyute) (3.1.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.8/dist-packages (from scikit-learn->impyute) (1.2.0)

In [41]:
t_start = time.time()
for i in range(1,1001):
  globals()[f'imputed_impy20_{i}'] = impy.em(globals()[f'Systolic20_{i}'].values.copy())
  globals()[f'MSE_impy20_{i}'] = mean_squared_error(data, globals()[f'imputed_impy20_{i}'])
t_end = time.time()
t20_EM = (t_end- t_start)

In [42]:
t_start = time.time()
mse_impy20_total = 0 
MSE_impy20_1001 = 0
for i in range(0,1001):
  mse_impy20_total = mse_impy20_total + globals()[f'MSE_impy20_{i+1}']
AMSE_Systolic20_impy = mse_impy20_total/1000
print(f'AMSE_Systolic20_impy = {AMSE_Systolic20_impy}')
t_end = time.time()
print(f'เวลาที่ใช้ในการประมวลผล {t_end- t_start} วินาที')
print(f'เวลาที่ใช้ในการประมวลผล {(t_end- t_start)/60} นาที')

AMSE_Systolic20_impy = 2.50318806692327
เวลาที่ใช้ในการประมวลผล 0.001619577407836914 วินาที
เวลาที่ใช้ในการประมวลผล 2.69929567972819e-05 นาที

# 30 % random nan

In [43]:
t_start = time.time()
for i in range(1,1001):
  globals()[f'Systolic30_{i}'] = data.copy() # for loop variable name
  np.random.seed(i) # for loop seed
  n = int((153*30/100)) 
  index_nan = np.random.choice(globals()[f'Systolic30_{i}']['Systolic'].size, n, replace=False) #globals()[name dataframe][column name].size
  globals()[f'Systolic30_{i}']['Systolic'].ravel()[index_nan] = np.nan
t_end = time.time()
print(f'เวลาที่ใช้ในการประมวลผล {t_end- t_start} วินาที')
print(f'เวลาที่ใช้ในการประมวลผล {(t_end- t_start)/60} นาที')

เวลาที่ใช้ในการประมวลผล 0.20384573936462402 วินาที
เวลาที่ใช้ในการประมวลผล 0.0033974289894104005 นาที

## Imputation using Mean

In [44]:
from sklearn.impute import SimpleImputer

In [45]:
t_start = time.time()
mean30_imputer = SimpleImputer(strategy='mean')
for i in range(1,1001):
  globals()[f'imputed_mean30_{i}'] = mean30_imputer.fit_transform(globals()[f'Systolic30_{i}'].copy()) #for loop miss forest impputation 
  globals()[f'MSE_MEAN30_{i}'] = mean_squared_error(data, globals()[f'imputed_mean30_{i}']) # for loop mean_squared_error
t_end = time.time()
t30_MEAN = (t_end- t_start)

In [46]:
t_start = time.time()
mse_mean30_total = 0 
MSE_MEAN30_1001 = 0
for i in range(0,1001):
  mse_mean30_total = mse_mean30_total + globals()[f'MSE_MEAN30_{i+1}']
AMSE_Systolic30_mean = mse_mean30_total/1000
print(f'AMSE_Systolic30_mean = {AMSE_Systolic30_mean}')
t_end = time.time()
print(f'เวลาที่ใช้ในการประมวลผล {t_end- t_start} วินาที')
print(f'เวลาที่ใช้ในการประมวลผล {(t_end- t_start)/60} นาที')

AMSE_Systolic30_mean = 1.9934371640473205
เวลาที่ใช้ในการประมวลผล 0.0013332366943359375 วินาที
เวลาที่ใช้ในการประมวลผล 2.2220611572265626e-05 นาที

## Imputation using the miss forest

In [47]:
import sys
import sklearn.neighbors._base
sys.modules['sklearn.neighbors.base'] = sklearn.neighbors._base
!pip install missingpy
import missingpy
from missingpy import MissForest
from sklearn.metrics import mean_squared_error

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: missingpy in /usr/local/lib/python3.8/dist-packages (0.2.0)

In [ ]:
t_start = time.time()
MF30_imputer = MissForest()
for i in range(1,1001):
  globals()[f'imputed_mf30_{i}'] = MF30_imputer.fit_transform(globals()[f'Systolic30_{i}'].copy()) #for loop miss forest impputation 
  globals()[f'MSE_MF30_{i}'] = mean_squared_error(data, globals()[f'imputed_mf30_{i}']) # for loop mean_squared_error
t_end = time.time()
t30_MF = (t_end- t_start)

In [49]:
t_start = time.time()
mse_mf30_total = 0 
MSE_MF30_1001 = 0
for i in range(0,1001):
  mse_mf30_total = mse_mf30_total + globals()[f'MSE_MF30_{i+1}']
AMSE_Systolic30_mf = mse_mf30_total/1000
print(f'AMSE_Systolic30_mf = {AMSE_Systolic30_mf}')
t_end = time.time()
print(f'เวลาที่ใช้ในการประมวลผล {t_end- t_start} วินาที')
print(f'เวลาที่ใช้ในการประมวลผล {(t_end- t_start)/60} นาที')

AMSE_Systolic30_mf = 1.2318183389140274
เวลาที่ใช้ในการประมวลผล 0.0017275810241699219 วินาที
เวลาที่ใช้ในการประมวลผล 2.8793017069498698e-05 นาที

## Imputation using the KNN

In [50]:
from sklearn import neighbors
from sklearn.impute import KNNImputer

In [51]:
t_start = time.time()
KNN30_imputer = KNNImputer(n_neighbors = 15)
for i in range(1,1001):
  globals()[f'imputed_KNN30_{i}'] = KNN30_imputer.fit_transform(globals()[f'Systolic30_{i}'].copy())
  globals()[f'MSE_KNN30_{i}'] = mean_squared_error(data, globals()[f'imputed_KNN30_{i}'])
t_end = time.time()
t30_KNN = (t_end- t_start)

In [52]:
t_start = time.time()
mse_knn30_total = 0 
MSE_KNN30_1001 = 0
for i in range(0,1001):
  mse_knn30_total = mse_knn30_total + globals()[f'MSE_KNN30_{i+1}']
AMSE_Systolic30_knn = mse_knn30_total/1000
print(f'AMSE_Systolic30_knn = {AMSE_Systolic30_knn}')
t_end = time.time()
print(f'เวลาที่ใช้ในการประมวลผล {t_end- t_start} วินาที')
print(f'เวลาที่ใช้ในการประมวลผล {(t_end- t_start)/60} นาที')

AMSE_Systolic30_knn = 1.5946601787609627
เวลาที่ใช้ในการประมวลผล 0.0009350776672363281 วินาที
เวลาที่ใช้ในการประมวลผล 1.5584627787272134e-05 นาที

## Imputation using the MICE

In [53]:
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer
from sklearn.linear_model import LinearRegression
from sklearn import svm

### LinearRegression model

In [ ]:
t_start = time.time()
lr = LinearRegression()
for i in range(1,1001):
  imp = IterativeImputer(estimator= lr , max_iter= 10, verbose=2, imputation_order='roman',initial_strategy = 'mean',random_state= i)
  globals()[f'imputed_lr30_{i}'] = imp.fit_transform(globals()[f'Systolic30_{i}'].copy())
  globals()[f'MSE_lr30_{i}'] = mean_squared_error(data, globals()[f'imputed_lr30_{i}'])
t_end = time.time()
t30_LR = (t_end- t_start)

In [55]:
t_start = time.time()
mse_lr30_total = 0 
MSE_lr30_1001 = 0
for i in range(0,1001):
  mse_lr30_total = mse_lr30_total + globals()[f'MSE_lr30_{i+1}']
AMSE_Systolic30_lr = mse_lr30_total/1000
print(f'AMSE_Systolic30_lr = {AMSE_Systolic30_lr}')
t_end = time.time()
print(f'เวลาที่ใช้ในการประมวลผล {t_end- t_start} วินาที')
print(f'เวลาที่ใช้ในการประมวลผล {(t_end- t_start)/60} นาที')

AMSE_Systolic30_lr = 2.962069172295166
เวลาที่ใช้ในการประมวลผล 0.001485586166381836 วินาที
เวลาที่ใช้ในการประมวลผล 2.4759769439697264e-05 นาที

### Support Vector Machine model

In [ ]:
t_start = time.time()
regr = svm.SVR()
for i in range(1,1001):
  svm_svr = IterativeImputer(estimator= regr, max_iter= 10, verbose=2, imputation_order='roman',initial_strategy = 'mean',random_state= i)
  globals()[f'imputed_svm30_{i}'] = svm_svr.fit_transform(globals()[f'Systolic30_{i}'].copy())
  globals()[f'MSE_svm30_{i}'] = mean_squared_error(data, globals()[f'imputed_svm30_{i}'])
t_end = time.time()
t30_SVM = (t_end- t_start)

In [57]:
t_start = time.time()
mse_svm30_total = 0 
MSE_svm30_1001 = 0
for i in range(0,1001):
  mse_svm30_total = mse_svm30_total + globals()[f'MSE_svm30_{i+1}']
AMSE_Systolic30_svm = mse_svm30_total/1000
print(f'AMSE_Systolic30_svm = {AMSE_Systolic30_svm}')
t_end = time.time()
print(f'เวลาที่ใช้ในการประมวลผล {t_end- t_start} วินาที')
print(f'เวลาที่ใช้ในการประมวลผล {(t_end- t_start)/60} นาที')

AMSE_Systolic30_svm = 1.8712057477987636
เวลาที่ใช้ในการประมวลผล 0.0008499622344970703 วินาที
เวลาที่ใช้ในการประมวลผล 1.4166037241617838e-05 นาที

## Imputation using the EM

### impy.em

In [58]:
!pip install impyute
import impyute as impy

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: impyute in /usr/local/lib/python3.8/dist-packages (0.0.8)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.8/dist-packages (from impyute) (1.0.2)
Requirement already satisfied: scipy in /usr/local/lib/python3.8/dist-packages (from impyute) (1.7.3)
Requirement already satisfied: numpy in /usr/local/lib/python3.8/dist-packages (from impyute) (1.21.6)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.8/dist-packages (from scikit-learn->impyute) (3.1.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.8/dist-packages (from scikit-learn->impyute) (1.2.0)

In [59]:
t_start = time.time()
for i in range(1,1001):
  globals()[f'imputed_impy30_{i}'] = impy.em(globals()[f'Systolic30_{i}'].values.copy())
  globals()[f'MSE_impy30_{i}'] = mean_squared_error(data, globals()[f'imputed_impy30_{i}'])
t_end = time.time()
t30_EM = (t_end- t_start)

In [60]:
t_start = time.time()
mse_impy30_total = 0 
MSE_impy30_1001 = 0
for i in range(0,1001):
  mse_impy30_total = mse_impy30_total + globals()[f'MSE_impy30_{i+1}']
AMSE_Systolic30_impy = mse_impy30_total/1000
print(f'AMSE_Systolic30_impy = {AMSE_Systolic30_impy}')
t_end = time.time()
print(f'เวลาที่ใช้ในการประมวลผล {t_end- t_start} วินาที')
print(f'เวลาที่ใช้ในการประมวลผล {(t_end- t_start)/60} นาที')

AMSE_Systolic30_impy = 3.7444179810888905
เวลาที่ใช้ในการประมวลผล 0.0011112689971923828 วินาที
เวลาที่ใช้ในการประมวลผล 1.852114995320638e-05 นาที

# 40 % random nan

In [61]:
t_start = time.time()
for i in range(1,1001):
  globals()[f'Systolic40_{i}'] = data.copy() # for loop variable name
  np.random.seed(i) # for loop seed
  n = int((153*40/100)) 
  index_nan = np.random.choice(globals()[f'Systolic40_{i}']['Systolic'].size, n, replace=False) #globals()[name dataframe][column name].size
  globals()[f'Systolic40_{i}']['Systolic'].ravel()[index_nan] = np.nan
t_end = time.time()
print(f'เวลาที่ใช้ในการประมวลผล {t_end- t_start} วินาที')
print(f'เวลาที่ใช้ในการประมวลผล {(t_end- t_start)/60} นาที')

เวลาที่ใช้ในการประมวลผล 0.16196918487548828 วินาที
เวลาที่ใช้ในการประมวลผล 0.0026994864145914715 นาที

## Imputation using Mean

In [62]:
from sklearn.impute import SimpleImputer

In [63]:
t_start = time.time()
mean40_imputer = SimpleImputer(strategy='mean')
for i in range(1,1001):
  globals()[f'imputed_mean40_{i}'] = mean40_imputer.fit_transform(globals()[f'Systolic40_{i}'].copy()) #for loop miss forest impputation 
  globals()[f'MSE_MEAN40_{i}'] = mean_squared_error(data, globals()[f'imputed_mean40_{i}']) # for loop mean_squared_error
t_end = time.time()
t40_MEAN = (t_end- t_start)

In [64]:
t_start = time.time()
mse_mean40_total = 0 
MSE_MEAN40_1001 = 0
for i in range(0,1001):
  mse_mean40_total = mse_mean40_total + globals()[f'MSE_MEAN40_{i+1}']
AMSE_Systolic40_mean = mse_mean40_total/1000
print(f'AMSE_Systolic40_mean = {AMSE_Systolic40_mean}')
t_end = time.time()
print(f'เวลาที่ใช้ในการประมวลผล {t_end- t_start} วินาที')
print(f'เวลาที่ใช้ในการประมวลผล {(t_end- t_start)/60} นาที')

AMSE_Systolic40_mean = 2.704088330869403
เวลาที่ใช้ในการประมวลผล 0.0011684894561767578 วินาที
เวลาที่ใช้ในการประมวลผล 1.947482426961263e-05 นาที

## Imputation using the miss forest

In [65]:
import sys
import sklearn.neighbors._base
sys.modules['sklearn.neighbors.base'] = sklearn.neighbors._base
!pip install missingpy
import missingpy
from missingpy import MissForest
from sklearn.metrics import mean_squared_error

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: missingpy in /usr/local/lib/python3.8/dist-packages (0.2.0)

In [ ]:
t_start = time.time()
MF40_imputer = MissForest()
for i in range(1,1001):
  globals()[f'imputed_mf40_{i}'] = MF40_imputer.fit_transform(globals()[f'Systolic40_{i}'].copy()) #for loop miss forest impputation 
  globals()[f'MSE_MF40_{i}'] = mean_squared_error(data, globals()[f'imputed_mf40_{i}']) # for loop mean_squared_error
t_end = time.time()
t40_MF = (t_end- t_start)

In [67]:
t_start = time.time()
mse_mf40_total = 0 
MSE_MF40_1001 = 0
for i in range(0,1001):
  mse_mf40_total = mse_mf40_total + globals()[f'MSE_MF40_{i+1}']
AMSE_Systolic40_mf = mse_mf40_total/1000
print(f'AMSE_Systolic40_mf = {AMSE_Systolic40_mf}')
t_end = time.time()
print(f'เวลาที่ใช้ในการประมวลผล {t_end- t_start} วินาที')
print(f'เวลาที่ใช้ในการประมวลผล {(t_end- t_start)/60} นาที')

AMSE_Systolic40_mf = 1.6701054174459549
เวลาที่ใช้ในการประมวลผล 0.0011777877807617188 วินาที
เวลาที่ใช้ในการประมวลผล 1.9629796346028645e-05 นาที

## Imputation using the KNN

In [68]:
from sklearn import neighbors
from sklearn.impute import KNNImputer

In [69]:
t_start = time.time()
KNN40_imputer = KNNImputer(n_neighbors = 15)
for i in range(1,1001):
  globals()[f'imputed_KNN40_{i}'] = KNN40_imputer.fit_transform(globals()[f'Systolic40_{i}'].copy())
  globals()[f'MSE_KNN40_{i}'] = mean_squared_error(data, globals()[f'imputed_KNN40_{i}'])
t_end = time.time()
t40_KNN = (t_end- t_start)

In [70]:
t_start = time.time()
mse_knn40_total = 0 
MSE_KNN40_1001 = 0
for i in range(0,1001):
  mse_knn40_total = mse_knn40_total + globals()[f'MSE_KNN40_{i+1}']
AMSE_Systolic40_knn = mse_knn40_total/1000
print(f'AMSE_Systolic40_knn = {AMSE_Systolic40_knn}')
t_end = time.time()
print(f'เวลาที่ใช้ในการประมวลผล {t_end- t_start} วินาที')
print(f'เวลาที่ใช้ในการประมวลผล {(t_end- t_start)/60} นาที')

AMSE_Systolic40_knn = 2.2339389788279984
เวลาที่ใช้ในการประมวลผล 0.0011699199676513672 วินาที
เวลาที่ใช้ในการประมวลผล 1.9498666127522786e-05 นาที

## Imputation using the MICE

In [71]:
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer
from sklearn.linear_model import LinearRegression
from sklearn import svm

### LinearRegression model

In [ ]:
t_start = time.time()
lr = LinearRegression()
for i in range(1,1001):
  imp = IterativeImputer(estimator= lr , max_iter= 10, verbose=2, imputation_order='roman',initial_strategy = 'mean',random_state= i)
  globals()[f'imputed_lr40_{i}'] = imp.fit_transform(globals()[f'Systolic40_{i}'].copy())
  globals()[f'MSE_lr40_{i}'] = mean_squared_error(data, globals()[f'imputed_lr40_{i}'])
t_end = time.time()
t40_LR = (t_end- t_start)

In [73]:
t_start = time.time()
mse_lr40_total = 0 
MSE_lr40_1001 = 0
for i in range(0,1001):
  mse_lr40_total = mse_lr40_total + globals()[f'MSE_lr40_{i+1}']
AMSE_Systolic40_lr = mse_lr40_total/1000
print(f'AMSE_Systolic40_lr = {AMSE_Systolic40_lr}')
t_end = time.time()
print(f'เวลาที่ใช้ในการประมวลผล {t_end- t_start} วินาที')
print(f'เวลาที่ใช้ในการประมวลผล {(t_end- t_start)/60} นาที')

AMSE_Systolic40_lr = 4.365362745761229
เวลาที่ใช้ในการประมวลผล 0.0008933544158935547 วินาที
เวลาที่ใช้ในการประมวลผล 1.4889240264892579e-05 นาที

### Support Vector Machine model

In [ ]:
t_start = time.time()
regr = svm.SVR()
for i in range(1,1001):
  svm_svr = IterativeImputer(estimator= regr, max_iter= 10, verbose=2, imputation_order='roman',initial_strategy = 'mean',random_state= i)
  globals()[f'imputed_svm40_{i}'] = svm_svr.fit_transform(globals()[f'Systolic40_{i}'].copy())
  globals()[f'MSE_svm40_{i}'] = mean_squared_error(data, globals()[f'imputed_svm40_{i}'])
t_end = time.time()
t40_SVM = (t_end- t_start)

In [75]:
t_start = time.time()
mse_svm40_total = 0 
MSE_svm40_1001 = 0
for i in range(0,1001):
  mse_svm40_total = mse_svm40_total + globals()[f'MSE_svm40_{i+1}']
AMSE_Systolic40_svm = mse_svm40_total/1000
print(f'AMSE_Systolic40_svm = {AMSE_Systolic40_svm}')
t_end = time.time()
print(f'เวลาที่ใช้ในการประมวลผล {t_end- t_start} วินาที')
print(f'เวลาที่ใช้ในการประมวลผล {(t_end- t_start)/60} นาที')

AMSE_Systolic40_svm = 2.5568744739362157
เวลาที่ใช้ในการประมวลผล 0.0011568069458007812 วินาที
เวลาที่ใช้ในการประมวลผล 1.9280115763346353e-05 นาที

## Imputation using the EM

### impy.em

In [76]:
!pip install impyute
import impyute as impy

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: impyute in /usr/local/lib/python3.8/dist-packages (0.0.8)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.8/dist-packages (from impyute) (1.0.2)
Requirement already satisfied: scipy in /usr/local/lib/python3.8/dist-packages (from impyute) (1.7.3)
Requirement already satisfied: numpy in /usr/local/lib/python3.8/dist-packages (from impyute) (1.21.6)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.8/dist-packages (from scikit-learn->impyute) (3.1.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.8/dist-packages (from scikit-learn->impyute) (1.2.0)

In [77]:
t_start = time.time()
for i in range(1,1001):
  globals()[f'imputed_impy40_{i}'] = impy.em(globals()[f'Systolic40_{i}'].values.copy())
  globals()[f'MSE_impy40_{i}'] = mean_squared_error(data, globals()[f'imputed_impy40_{i}'])
t_end = time.time()
t40_EM = (t_end- t_start)

In [78]:
t_start = time.time()
mse_impy40_total = 0 
MSE_impy40_1001 = 0
for i in range(0,1001):
  mse_impy40_total = mse_impy40_total + globals()[f'MSE_impy40_{i+1}']
AMSE_Systolic40_impy = mse_impy40_total/1000
print(f'AMSE_Systolic40_impy = {AMSE_Systolic40_impy}')
t_end = time.time()
print(f'เวลาที่ใช้ในการประมวลผล {t_end- t_start} วินาที')
print(f'เวลาที่ใช้ในการประมวลผล {(t_end- t_start)/60} นาที')

AMSE_Systolic40_impy = 5.117235596340704
เวลาที่ใช้ในการประมวลผล 0.0010943412780761719 วินาที
เวลาที่ใช้ในการประมวลผล 1.823902130126953e-05 นาที

# 50 % random nan

In [79]:
t_start = time.time()
for i in range(1,1001):
  globals()[f'Systolic50_{i}'] = data.copy() # for loop variable name
  np.random.seed(i) # for loop seed
  n = int((153*50/100)) 
  index_nan = np.random.choice(globals()[f'Systolic50_{i}']['Systolic'].size, n, replace=False) #globals()[name dataframe][column name].size
  globals()[f'Systolic50_{i}']['Systolic'].ravel()[index_nan] = np.nan
t_end = time.time()
print(f'เวลาที่ใช้ในการประมวลผล {t_end- t_start} วินาที')
print(f'เวลาที่ใช้ในการประมวลผล {(t_end- t_start)/60} นาที')

เวลาที่ใช้ในการประมวลผล 0.1742706298828125 วินาที
เวลาที่ใช้ในการประมวลผล 0.002904510498046875 นาที

In [80]:
Systolic50_1

,Sex,AgeSYear,Weight,Height,BMI,Systolic,Diastolic,HeartRate,SMM,Fat Mass,...,003_Creatinine,004_Uric Acid,005_Cholesterol,006_Triglyceride,008_HDL-C,009_LDL,010_AST,012_ALT,013_Alkaline Phos,071_HbA1c
0,2,57.0,47.4,153.0,20.2,NaN,75.0,69.0,19.3,12.5,...,1.0,5.0,176.0,51.0,72.0,94.0,16.0,16.0,62.0,5.1
1,2,24.0,53.2,157.0,21.6,103.0,69.0,78.0,21.3,14.6,...,0.8,5.2,159.0,45.0,52.0,98.0,13.0,17.0,50.0,5.4
2,2,62.0,54.4,165.0,20.0,NaN,75.0,83.0,21.6,15.2,...,0.7,4.1,230.0,94.0,61.0,151.0,18.0,31.0,76.0,5.6
3,2,35.0,56.3,161.0,21.7,95.0,57.0,72.0,22.5,15.4,...,0.6,5.0,198.0,47.0,68.0,120.0,16.0,20.0,35.0,5.1
4,1,46.0,72.3,170.0,25.0,NaN,77.0,107.0,29.2,19.0,...,0.9,6.9,194.0,63.0,60.0,122.0,15.0,19.0,69.0,5.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
148,1,60.0,72.0,170.0,24.9,NaN,74.0,69.0,30.5,13.8,...,0.9,6.9,182.0,179.0,39.0,107.0,36.0,31.0,79.0,6.5
149,1,58.0,62.0,168.0,22.0,103.0,76.0,72.0,27.8,11.9,...,1.0,6.8,191.0,62.0,47.0,132.0,16.0,33.0,42.0,6.8
150,2,42.0,55.5,165.0,20.4,102.0,52.0,77.0,22.9,14.1,...,0.8,4.7,212.0,68.0,63.0,135.0,11.0,16.0,33.0,4.8
151,2,61.0,61.8,159.0,24.4,117.0,60.0,72.0,23.4,19.2,...,0.8,5.1,235.0,66.0,56.0,166.0,15.0,23.0,44.0,5.4
152,2,31.0,58.2,169.0,20.4,108.0,69.0,73.0,25.0,13.0,...,0.7,4.3,200.0,44.0,56.0,135.0,14.0,21.0,31.0,4.7

## Imputation using Mean

In [81]:
from sklearn.impute import SimpleImputer

In [82]:
t_start = time.time()
mean50_imputer = SimpleImputer(strategy='mean')
for i in range(1,1001):
  globals()[f'imputed_mean50_{i}'] = mean50_imputer.fit_transform(globals()[f'Systolic50_{i}'].copy()) #for loop miss forest impputation 
  globals()[f'MSE_MEAN50_{i}'] = mean_squared_error(data, globals()[f'imputed_mean50_{i}']) # for loop mean_squared_error
t_end = time.time()
t50_MEAN = (t_end- t_start)

In [83]:
t_start = time.time()
mse_mean50_total = 0 
MSE_MEAN50_1001 = 0
for i in range(0,1001):
  mse_mean50_total = mse_mean50_total + globals()[f'MSE_MEAN50_{i+1}']
AMSE_Systolic50_mean = mse_mean50_total/1000
print(f'AMSE_Systolic50_mean = {AMSE_Systolic50_mean}')
t_end = time.time()
print(f'เวลาที่ใช้ในการประมวลผล {t_end- t_start} วินาที')
print(f'เวลาที่ใช้ในการประมวลผล {(t_end- t_start)/60} นาที')

AMSE_Systolic50_mean = 3.382697967086814
เวลาที่ใช้ในการประมวลผล 0.0015659332275390625 วินาที
เวลาที่ใช้ในการประมวลผล 2.6098887125651042e-05 นาที

## Imputation using the miss forest

In [84]:
import sys
import sklearn.neighbors._base
sys.modules['sklearn.neighbors.base'] = sklearn.neighbors._base
!pip install missingpy
import missingpy
from missingpy import MissForest
from sklearn.metrics import mean_squared_error

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: missingpy in /usr/local/lib/python3.8/dist-packages (0.2.0)

In [ ]:
t_start = time.time()
MF50_imputer = MissForest()
for i in range(1,1001):
  globals()[f'imputed_mf50_{i}'] = MF50_imputer.fit_transform(globals()[f'Systolic50_{i}'].copy()) #for loop miss forest impputation 
  globals()[f'MSE_MF50_{i}'] = mean_squared_error(data, globals()[f'imputed_mf50_{i}']) # for loop mean_squared_error
t_end = time.time()
t50_MF = (t_end- t_start)

In [86]:
t_start = time.time()
mse_mf50_total = 0 
MSE_MF50_1001 = 0
for i in range(0,1001):
  mse_mf50_total = mse_mf50_total + globals()[f'MSE_MF50_{i+1}']
AMSE_Systolic50_mf = mse_mf50_total/1000
print(f'AMSE_Systolic50_mf = {AMSE_Systolic50_mf}')
t_end = time.time()
print(f'เวลาที่ใช้ในการประมวลผล {t_end- t_start} วินาที')
print(f'เวลาที่ใช้ในการประมวลผล {(t_end- t_start)/60} นาที')

AMSE_Systolic50_mf = 2.124768299120162
เวลาที่ใช้ในการประมวลผล 0.011856794357299805 วินาที
เวลาที่ใช้ในการประมวลผล 0.00019761323928833008 นาที

## Imputation using the KNN

In [87]:
from sklearn import neighbors
from sklearn.impute import KNNImputer

In [88]:
t_start = time.time()
KNN50_imputer = KNNImputer(n_neighbors = 15)
for i in range(1,1001):
  globals()[f'imputed_KNN50_{i}'] = KNN50_imputer.fit_transform(globals()[f'Systolic50_{i}'].copy())
  globals()[f'MSE_KNN50_{i}'] = mean_squared_error(data, globals()[f'imputed_KNN50_{i}'])
t_end = time.time()
t50_KNN = (t_end- t_start)

In [89]:
t_start = time.time()
mse_knn50_total = 0 
MSE_KNN50_1001 = 0
for i in range(0,1001):
  mse_knn50_total = mse_knn50_total + globals()[f'MSE_KNN50_{i+1}']
AMSE_Systolic50_knn = mse_knn50_total/1000
print(f'AMSE_Systolic50_knn = {AMSE_Systolic50_knn}')
t_end = time.time()
print(f'เวลาที่ใช้ในการประมวลผล {t_end- t_start} วินาที')
print(f'เวลาที่ใช้ในการประมวลผล {(t_end- t_start)/60} นาที')

AMSE_Systolic50_knn = 2.906129752527791
เวลาที่ใช้ในการประมวลผล 0.002317190170288086 วินาที
เวลาที่ใช้ในการประมวลผล 3.8619836171468096e-05 นาที

## Imputation using the MICE

In [90]:
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer
from sklearn.linear_model import LinearRegression
from sklearn import svm

### LinearRegression model

In [ ]:
t_start = time.time()
lr = LinearRegression()
for i in range(1,1001):
  imp = IterativeImputer(estimator= lr , max_iter= 10, verbose=2, imputation_order='roman',initial_strategy = 'mean',random_state= i)
  globals()[f'imputed_lr50_{i}'] = imp.fit_transform(globals()[f'Systolic50_{i}'].copy())
  globals()[f'MSE_lr50_{i}'] = mean_squared_error(data, globals()[f'imputed_lr50_{i}'])
t_end = time.time()
t50_LR = (t_end- t_start)

In [92]:
t_start = time.time()
mse_lr50_total = 0 
MSE_lr50_1001 = 0
for i in range(0,1001):
  mse_lr50_total = mse_lr50_total + globals()[f'MSE_lr50_{i+1}']
AMSE_Systolic50_lr = mse_lr50_total/1000
print(f'AMSE_Systolic50_lr = {AMSE_Systolic50_lr}')
t_end = time.time()
print(f'เวลาที่ใช้ในการประมวลผล {t_end- t_start} วินาที')
print(f'เวลาที่ใช้ในการประมวลผล {(t_end- t_start)/60} นาที')

AMSE_Systolic50_lr = 6.51355029692126
เวลาที่ใช้ในการประมวลผล 0.0010371208190917969 วินาที
เวลาที่ใช้ในการประมวลผล 1.728534698486328e-05 นาที

### Support Vector Machine model

In [ ]:
t_start = time.time()
regr = svm.SVR()
for i in range(1,1001):
  svm_svr = IterativeImputer(estimator= regr, max_iter= 10, verbose=2, imputation_order='roman',initial_strategy = 'mean',random_state= i)
  globals()[f'imputed_svm50_{i}'] = svm_svr.fit_transform(globals()[f'Systolic50_{i}'].copy())
  globals()[f'MSE_svm50_{i}'] = mean_squared_error(data, globals()[f'imputed_svm50_{i}'])
t_end = time.time()
t50_SVM = (t_end- t_start)

In [94]:
t_start = time.time()
mse_svm50_total = 0 
MSE_svm50_1001 = 0
for i in range(0,1001):
  mse_svm50_total = mse_svm50_total + globals()[f'MSE_svm50_{i+1}']
AMSE_Systolic50_svm = mse_svm50_total/1000
print(f'AMSE_Systolic50_svm = {AMSE_Systolic50_svm}')
t_end = time.time()
print(f'เวลาที่ใช้ในการประมวลผล {t_end- t_start} วินาที')
print(f'เวลาที่ใช้ในการประมวลผล {(t_end- t_start)/60} นาที')

AMSE_Systolic50_svm = 3.2300031941342247
เวลาที่ใช้ในการประมวลผล 0.0011074542999267578 วินาที
เวลาที่ใช้ในการประมวลผล 1.8457571665445965e-05 นาที

## Imputation using the EM

### impy.em

In [95]:
!pip install impyute
import impyute as impy

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: impyute in /usr/local/lib/python3.8/dist-packages (0.0.8)
Requirement already satisfied: numpy in /usr/local/lib/python3.8/dist-packages (from impyute) (1.21.6)
Requirement already satisfied: scipy in /usr/local/lib/python3.8/dist-packages (from impyute) (1.7.3)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.8/dist-packages (from impyute) (1.0.2)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.8/dist-packages (from scikit-learn->impyute) (1.2.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.8/dist-packages (from scikit-learn->impyute) (3.1.0)

In [96]:
t_start = time.time()
for i in range(1,1001):
  globals()[f'imputed_impy50_{i}'] = impy.em(globals()[f'Systolic50_{i}'].values.copy())
  globals()[f'MSE_impy50_{i}'] = mean_squared_error(data, globals()[f'imputed_impy50_{i}'])
t_end = time.time()
t50_EM = (t_end- t_start)

In [97]:
t_start = time.time()
mse_impy50_total = 0 
MSE_impy50_1001 = 0
for i in range(0,1001):
  mse_impy50_total = mse_impy50_total + globals()[f'MSE_impy50_{i+1}']
AMSE_Systolic50_impy = mse_impy50_total/1000
print(f'AMSE_Systolic50_impy = {AMSE_Systolic50_impy}')
t_end = time.time()
print(f'เวลาที่ใช้ในการประมวลผล {t_end- t_start} วินาที')
print(f'เวลาที่ใช้ในการประมวลผล {(t_end- t_start)/60} นาที')

AMSE_Systolic50_impy = 6.3933001948161845
เวลาที่ใช้ในการประมวลผล 0.0017473697662353516 วินาที
เวลาที่ใช้ในการประมวลผล 2.912282943725586e-05 นาที

# 60 % random nan

In [98]:
t_start = time.time()
for i in range(1,1001):
  globals()[f'Systolic60_{i}'] = data.copy() # for loop variable name
  np.random.seed(i) # for loop seed
  n = int((153*60/100)) 
  index_nan = np.random.choice(globals()[f'Systolic60_{i}']['Systolic'].size, n, replace=False) #globals()[name dataframe][column name].size
  globals()[f'Systolic60_{i}']['Systolic'].ravel()[index_nan] = np.nan
t_end = time.time()
print(f'เวลาที่ใช้ในการประมวลผล {t_end- t_start} วินาที')
print(f'เวลาที่ใช้ในการประมวลผล {(t_end- t_start)/60} นาที')

เวลาที่ใช้ในการประมวลผล 0.16046619415283203 วินาที
เวลาที่ใช้ในการประมวลผล 0.002674436569213867 นาที

In [99]:
Systolic60_1

,Sex,AgeSYear,Weight,Height,BMI,Systolic,Diastolic,HeartRate,SMM,Fat Mass,...,003_Creatinine,004_Uric Acid,005_Cholesterol,006_Triglyceride,008_HDL-C,009_LDL,010_AST,012_ALT,013_Alkaline Phos,071_HbA1c
0,2,57.0,47.4,153.0,20.2,NaN,75.0,69.0,19.3,12.5,...,1.0,5.0,176.0,51.0,72.0,94.0,16.0,16.0,62.0,5.1
1,2,24.0,53.2,157.0,21.6,103.0,69.0,78.0,21.3,14.6,...,0.8,5.2,159.0,45.0,52.0,98.0,13.0,17.0,50.0,5.4
2,2,62.0,54.4,165.0,20.0,NaN,75.0,83.0,21.6,15.2,...,0.7,4.1,230.0,94.0,61.0,151.0,18.0,31.0,76.0,5.6
3,2,35.0,56.3,161.0,21.7,95.0,57.0,72.0,22.5,15.4,...,0.6,5.0,198.0,47.0,68.0,120.0,16.0,20.0,35.0,5.1
4,1,46.0,72.3,170.0,25.0,NaN,77.0,107.0,29.2,19.0,...,0.9,6.9,194.0,63.0,60.0,122.0,15.0,19.0,69.0,5.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
148,1,60.0,72.0,170.0,24.9,NaN,74.0,69.0,30.5,13.8,...,0.9,6.9,182.0,179.0,39.0,107.0,36.0,31.0,79.0,6.5
149,1,58.0,62.0,168.0,22.0,103.0,76.0,72.0,27.8,11.9,...,1.0,6.8,191.0,62.0,47.0,132.0,16.0,33.0,42.0,6.8
150,2,42.0,55.5,165.0,20.4,102.0,52.0,77.0,22.9,14.1,...,0.8,4.7,212.0,68.0,63.0,135.0,11.0,16.0,33.0,4.8
151,2,61.0,61.8,159.0,24.4,NaN,60.0,72.0,23.4,19.2,...,0.8,5.1,235.0,66.0,56.0,166.0,15.0,23.0,44.0,5.4
152,2,31.0,58.2,169.0,20.4,NaN,69.0,73.0,25.0,13.0,...,0.7,4.3,200.0,44.0,56.0,135.0,14.0,21.0,31.0,4.7

## Imputation using Mean

In [100]:
from sklearn.impute import SimpleImputer

In [101]:
t_start = time.time()
mean60_imputer = SimpleImputer(strategy='mean')
for i in range(1,1001):
  globals()[f'imputed_mean60_{i}'] = mean50_imputer.fit_transform(globals()[f'Systolic60_{i}'].copy()) #for loop miss forest impputation 
  globals()[f'MSE_MEAN60_{i}'] = mean_squared_error(data, globals()[f'imputed_mean60_{i}']) # for loop mean_squared_error
t_end = time.time()
t60_MEAN = (t_end- t_start)

In [102]:
t_start = time.time()
mse_mean60_total = 0 
MSE_MEAN60_1001 = 0
for i in range(0,1001):
  mse_mean60_total = mse_mean60_total + globals()[f'MSE_MEAN60_{i+1}']
AMSE_Systolic60_mean = mse_mean60_total/1000
print(f'AMSE_Systolic60_mean = {AMSE_Systolic60_mean}')
t_end = time.time()
print(f'เวลาที่ใช้ในการประมวลผล {t_end- t_start} วินาที')
print(f'เวลาที่ใช้ในการประมวลผล {(t_end- t_start)/60} นาที')

AMSE_Systolic60_mean = 4.0680025286709585
เวลาที่ใช้ในการประมวลผล 0.0017180442810058594 วินาที
เวลาที่ใช้ในการประมวลผล 2.8634071350097655e-05 นาที

## Imputation using the miss forest

In [103]:
import sys
import sklearn.neighbors._base
sys.modules['sklearn.neighbors.base'] = sklearn.neighbors._base
!pip install missingpy
import missingpy
from missingpy import MissForest
from sklearn.metrics import mean_squared_error

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: missingpy in /usr/local/lib/python3.8/dist-packages (0.2.0)

In [ ]:
t_start = time.time()
MF60_imputer = MissForest()
for i in range(1,1001):
  globals()[f'imputed_mf60_{i}'] = MF60_imputer.fit_transform(globals()[f'Systolic60_{i}'].copy()) #for loop miss forest impputation 
  globals()[f'MSE_MF60_{i}'] = mean_squared_error(data, globals()[f'imputed_mf60_{i}']) # for loop mean_squared_error
t_end = time.time()
t60_MF = (t_end- t_start)

In [105]:
t_start = time.time()
mse_mf60_total = 0 
MSE_MF60_1001 = 0
for i in range(0,1001):
  mse_mf60_total = mse_mf60_total + globals()[f'MSE_MF60_{i+1}']
AMSE_Systolic60_mf = mse_mf60_total/1000
print(f'AMSE_Systolic60_mf = {AMSE_Systolic60_mf}')
t_end = time.time()
print(f'เวลาที่ใช้ในการประมวลผล {t_end- t_start} วินาที')
print(f'เวลาที่ใช้ในการประมวลผล {(t_end- t_start)/60} นาที')

AMSE_Systolic60_mf = 2.62468495248869
เวลาที่ใช้ในการประมวลผล 0.0020751953125 วินาที
เวลาที่ใช้ในการประมวลผล 3.4586588541666666e-05 นาที

## Imputation using the KNN

In [106]:
from sklearn import neighbors
from sklearn.impute import KNNImputer

In [107]:
t_start = time.time()
KNN60_imputer = KNNImputer(n_neighbors = 15)
for i in range(1,1001):
  globals()[f'imputed_KNN60_{i}'] = KNN60_imputer.fit_transform(globals()[f'Systolic60_{i}'].copy())
  globals()[f'MSE_KNN60_{i}'] = mean_squared_error(data, globals()[f'imputed_KNN60_{i}'])
t_end = time.time()
t60_KNN = (t_end- t_start)

In [108]:
t_start = time.time()
mse_knn60_total = 0 
MSE_KNN60_1001 = 0
for i in range(0,1001):
  mse_knn60_total = mse_knn60_total + globals()[f'MSE_KNN60_{i+1}']
AMSE_Systolic60_knn = mse_knn60_total/1000
print(f'AMSE_Systolic60_knn = {AMSE_Systolic60_knn}')
t_end = time.time()
print(f'เวลาที่ใช้ในการประมวลผล {t_end- t_start} วินาที')
print(f'เวลาที่ใช้ในการประมวลผล {(t_end- t_start)/60} นาที')

AMSE_Systolic60_knn = 3.6361567577230365
เวลาที่ใช้ในการประมวลผล 0.0022525787353515625 วินาที
เวลาที่ใช้ในการประมวลผล 3.754297892252604e-05 นาที

## Imputation using the MICE

In [109]:
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer
from sklearn.linear_model import LinearRegression
from sklearn import svm

### LinearRegression model

In [ ]:
t_start = time.time()
lr = LinearRegression()
for i in range(1,1001):
  imp = IterativeImputer(estimator= lr , max_iter= 10, verbose=2, imputation_order='roman',initial_strategy = 'mean',random_state= i)
  globals()[f'imputed_lr60_{i}'] = imp.fit_transform(globals()[f'Systolic60_{i}'].copy())
  globals()[f'MSE_lr60_{i}'] = mean_squared_error(data, globals()[f'imputed_lr60_{i}'])
t_end = time.time()
t60_LR = (t_end- t_start)

In [111]:
t_start = time.time()
mse_lr60_total = 0 
MSE_lr60_1001 = 0
for i in range(0,1001):
  mse_lr60_total = mse_lr60_total + globals()[f'MSE_lr60_{i+1}']
AMSE_Systolic60_lr = mse_lr60_total/1000
print(f'AMSE_Systolic60_lr = {AMSE_Systolic60_lr}')
t_end = time.time()
print(f'เวลาที่ใช้ในการประมวลผล {t_end- t_start} วินาที')
print(f'เวลาที่ใช้ในการประมวลผล {(t_end- t_start)/60} นาที')

AMSE_Systolic60_lr = 10.738558322259056
เวลาที่ใช้ในการประมวลผล 0.00130462646484375 วินาที
เวลาที่ใช้ในการประมวลผล 2.17437744140625e-05 นาที

### Support Vector Machine model

In [ ]:
t_start = time.time()
regr = svm.SVR()
for i in range(1,1001):
  svm_svr = IterativeImputer(estimator= regr, max_iter= 10, verbose=2, imputation_order='roman',initial_strategy = 'mean',random_state= i)
  globals()[f'imputed_svm60_{i}'] = svm_svr.fit_transform(globals()[f'Systolic60_{i}'].copy())
  globals()[f'MSE_svm60_{i}'] = mean_squared_error(data, globals()[f'imputed_svm60_{i}'])
t_end = time.time()
t60_SVM = (t_end- t_start)

In [113]:
t_start = time.time()
mse_svm60_total = 0 
MSE_svm60_1001 = 0
for i in range(0,1001):
  mse_svm60_total = mse_svm60_total + globals()[f'MSE_svm60_{i+1}']
AMSE_Systolic60_svm = mse_svm60_total/1000
print(f'AMSE_Systolic60_svm = {AMSE_Systolic60_svm}')
t_end = time.time()
print(f'เวลาที่ใช้ในการประมวลผล {t_end- t_start} วินาที')
print(f'เวลาที่ใช้ในการประมวลผล {(t_end- t_start)/60} นาที')

AMSE_Systolic60_svm = 3.9319381511387506
เวลาที่ใช้ในการประมวลผล 0.0012438297271728516 วินาที
เวลาที่ใช้ในการประมวลผล 2.073049545288086e-05 นาที

## Imputation using the EM

### impy.em

In [114]:
!pip install impyute
import impyute as impy

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: impyute in /usr/local/lib/python3.8/dist-packages (0.0.8)
Requirement already satisfied: numpy in /usr/local/lib/python3.8/dist-packages (from impyute) (1.21.6)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.8/dist-packages (from impyute) (1.0.2)
Requirement already satisfied: scipy in /usr/local/lib/python3.8/dist-packages (from impyute) (1.7.3)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.8/dist-packages (from scikit-learn->impyute) (3.1.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.8/dist-packages (from scikit-learn->impyute) (1.2.0)

In [115]:
t_start = time.time()
for i in range(1,1001):
  globals()[f'imputed_impy60_{i}'] = impy.em(globals()[f'Systolic60_{i}'].values.copy())
  globals()[f'MSE_impy60_{i}'] = mean_squared_error(data, globals()[f'imputed_impy60_{i}'])
t_end = time.time()
t60_EM = (t_end- t_start)

In [116]:
t_start = time.time()
mse_impy60_total = 0 
MSE_impy60_1001 = 0
for i in range(0,1001):
  mse_impy60_total = mse_impy60_total + globals()[f'MSE_impy60_{i+1}']
AMSE_Systolic60_impy = mse_impy60_total/1000
print(f'AMSE_Systolic60_impy = {AMSE_Systolic60_impy}')
t_end = time.time()
print(f'เวลาที่ใช้ในการประมวลผล {t_end- t_start} วินาที')
print(f'เวลาที่ใช้ในการประมวลผล {(t_end- t_start)/60} นาที')

AMSE_Systolic60_impy = 7.762631097130708
เวลาที่ใช้ในการประมวลผล 0.001134634017944336 วินาที
เวลาที่ใช้ในการประมวลผล 1.891056696573893e-05 นาที

# AMSE

In [117]:
amse_value = {'Method':['MEAN','Miss Forest','KNN','MICE-LR','MICE-SVM','EM'],
              '10%':[AMSE_Systolic10_mean,AMSE_Systolic10_mf,AMSE_Systolic10_knn,AMSE_Systolic10_lr,AMSE_Systolic10_svm,AMSE_Systolic10_impy],
      '20%':[AMSE_Systolic20_mean,AMSE_Systolic20_mf,AMSE_Systolic20_knn,AMSE_Systolic20_lr,AMSE_Systolic20_svm,AMSE_Systolic20_impy],
      '30%':[AMSE_Systolic30_mean,AMSE_Systolic30_mf,AMSE_Systolic30_knn,AMSE_Systolic30_lr,AMSE_Systolic30_svm,AMSE_Systolic30_impy],
      '40%':[AMSE_Systolic40_mean,AMSE_Systolic40_mf,AMSE_Systolic40_knn,AMSE_Systolic40_lr,AMSE_Systolic40_svm,AMSE_Systolic40_impy],
      '50%':[AMSE_Systolic50_mean,AMSE_Systolic50_mf,AMSE_Systolic50_knn,AMSE_Systolic50_lr,AMSE_Systolic60_svm,AMSE_Systolic50_impy]
      ,'60%':[AMSE_Systolic60_mean,AMSE_Systolic60_mf,AMSE_Systolic60_knn,AMSE_Systolic60_lr,AMSE_Systolic60_svm,AMSE_Systolic60_impy]}

In [118]:
data_AMSE = pd.DataFrame.from_dict(amse_value)
data_AMSE

        Method       10%       20%       30%       40%       50%        60%
0         MEAN  0.656054  1.318454  1.993437  2.704088  3.382698   4.068003
1  Miss Forest  0.398116  0.800504  1.231818  1.670105  2.124768   2.624685
2          KNN  0.516497  1.040828  1.594660  2.233939  2.906130   3.636157
3      MICE-LR  0.760793  1.669475  2.962069  4.365363  6.513550  10.738558
4     MICE-SVM  0.607917  1.228954  1.871206  2.556874  3.931938   3.931938
5           EM  1.242144  2.503188  3.744418  5.117236  6.393300   7.762631

# เวลาทั้งหมดในการรัน

## second time

In [119]:
data_t_sec = {'Method':['MEAN','Miss Forest','KNN','MICE-LR','MICE-SVM','EM'],'10%':[t10_MEAN,t10_MF,t10_KNN,t10_LR,t10_SVM,t10_EM],
      '20%':[t20_MEAN,t20_MF,t20_KNN,t20_LR,t20_SVM,t20_EM],'30%':[t30_MEAN,t30_MF,t30_KNN,t30_LR,t30_SVM,t30_EM],'40%':[t40_MEAN,t40_MF,t40_KNN,t40_LR,t40_SVM,t40_EM],
      '50%':[t50_MEAN,t50_MF,t50_KNN,t50_LR,t50_SVM,t50_EM],'60%':[t60_MEAN,t60_MF,t60_KNN,t60_LR,t60_SVM,t60_EM]}

In [120]:
data_second = pd.DataFrame.from_dict(data_t_sec)
data_second

,Method,10%,20%,30%,40%,50%,60%
0,MEAN,4.216270,4.142338,4.444604,4.352309,4.555060,4.344003
1,Miss Forest,768.503871,760.008633,727.604975,747.254579,750.960078,711.771154
2,KNN,4.983605,5.038391,5.145983,5.896869,10.041794,9.372723
3,MICE-LR,59.137543,57.058236,59.620306,63.522815,60.949301,59.786982
4,MICE-SVM,121.690513,122.865779,122.405543,128.392833,122.945733,121.507658
5,EM,6.621698,12.329002,18.139932,25.729067,28.367869,32.531761

## minutes

In [121]:
data_t_min = {'Method':['MEAN','Miss Forest','KNN','MICE-LR','MICE-SVM','EM'],'10%':[t10_MEAN/60,t10_MF/60,t10_KNN/60,t10_LR/60,t10_SVM/60,t10_EM/60],
      '20%':[t20_MEAN/60,t20_MF/60,t20_KNN/60,t20_LR/60,t20_SVM/60,t20_EM/60],'30%':[t30_MEAN/60,t30_MF/60,t30_KNN/60,t30_LR/60,t30_SVM/60,t30_EM/60]
      ,'40%':[t40_MEAN/60,t40_MF/60,t40_KNN/60,t40_LR/60,t40_SVM/60,t40_EM/60],'50%':[t50_MEAN/60,t50_MF/60,t50_KNN/60,t50_LR/60,t50_SVM/60,t50_EM/60],
      '60%':[t60_MEAN/60,t60_MF/60,t60_KNN/60,t60_LR/60,t60_SVM/60,t60_EM/60]}

In [122]:
data_minutes = pd.DataFrame.from_dict(data_t_min)
data_minutes

,Method,10%,20%,30%,40%,50%,60%
0,MEAN,0.070271,0.069039,0.074077,0.072538,0.075918,0.072400
1,Miss Forest,12.808398,12.666811,12.126750,12.454243,12.516001,11.862853
2,KNN,0.083060,0.083973,0.085766,0.098281,0.167363,0.156212
3,MICE-LR,0.985626,0.950971,0.993672,1.058714,1.015822,0.996450
4,MICE-SVM,2.028175,2.047763,2.040092,2.139881,2.049096,2.025128
5,EM,0.110362,0.205483,0.302332,0.428818,0.472798,0.542196