<a href="https://colab.research.google.com/github/Worachet-Ch/project2022/blob/main/Random_Forest.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import os
from google.colab import drive #เชื่อม Google drive
drive.mount('/content/drive')
path = '/content/drive/My Drive/project2022' #เข้า drive
data_test = pd.read_csv(os.path.join(path,'test15.csv'))
data_test.drop('Unnamed: 0',1,inplace = True)

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

<ipython-input-27-22381b44fb0a>:7: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  data_test.drop('Unnamed: 0',1,inplace = True)

In [ ]:
from sklearn.ensemble import RandomForestRegressor
from sklearn import datasets, linear_model
from sklearn.model_selection import cross_validate
from sklearn.metrics import make_scorer
from sklearn.metrics import confusion_matrix
from sklearn.svm import LinearSVC
from sklearn.model_selection import KFold
from sklearn.model_selection import GridSearchCV

In [ ]:
data_test

,Sex,AgeSYear,telomere length (kb),Weight,Height,BMI,Systolic,Diastolic,HeartRate,SMM,...,003_Creatinine,004_Uric Acid,005_Cholesterol,006_Triglyceride,008_HDL-C,009_LDL,010_AST,012_ALT,013_Alkaline Phos,071_HbA1c
0,2,39,7.57,44.4,148,20.3,91,66,81,18.0,...,0.9,5.0,170,50,65,95,12,20,35,5.2
1,2,25,10.30,50.5,158,20.2,122,70,86,20.5,...,0.5,3.9,165,40,68,89,13,28,32,5.3
2,2,42,9.71,57.1,158,22.9,107,65,81,22.8,...,0.7,3.9,183,55,60,112,18,26,60,5.5
3,1,26,8.36,59.7,170,20.7,122,68,75,27.6,...,1.2,5.6,186,87,45,124,22,27,43,7.8
4,2,71,5.02,40.9,150,18.2,128,62,83,17.6,...,0.7,3.6,196,111,58,115,15,29,52,4.4
5,2,36,8.18,62.5,160,24.4,86,55,86,23.0,...,0.7,4.1,194,65,58,123,27,31,45,5.5
6,2,46,6.45,55.2,163,20.8,138,85,71,22.0,...,0.7,5.1,219,85,56,146,10,23,53,5.7
7,2,52,8.15,53.9,156,22.1,139,84,80,20.7,...,1.1,6.9,184,75,72,97,17,34,64,7.1
8,2,30,9.04,51.1,158,20.5,108,66,74,20.4,...,0.5,5.4,158,56,34,112,12,20,61,3.9
9,1,32,7.46,70.3,177,22.4,110,75,76,31.0,...,1.0,5.5,212,75,58,139,35,26,57,6.3
10,2,46,6.94,56.4,163,21.2,105,62,66,22.9,...,0.9,4.9,171,60,68,91,12,24,46,4.9
11,2,58,6.33,46.4,152,20.1,116,78,66,18.4,...,0.5,4.5,168,90,53,97,15,23,63,4.2
12,2,39,8.36,55.8,160,21.8,102,64,62,21.9,...,0.7,4.0,194,60,73,109,21,34,53,5.4
13,2,30,9.37,40.8,147,18.9,93,63,80,16.9,...,0.7,3.6,199,65,57,129,12,22,49,5.8
14,2,66,5.97,54.0,157,21.9,125,77,61,20.7,...,0.8,5.2,222,194,43,140,22,26,32,6.4

# พร้อมกันทุกตัวแปร

In [ ]:
data_train = pd.read_csv(os.path.join(path,'df_once.csv'))
data_train.drop('Unnamed: 0',1,inplace = True)

<ipython-input-30-ab904276a57b>:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  data_train.drop('Unnamed: 0',1,inplace = True)

In [ ]:
# data n = 422
y_train =data_train[['telomere length (kb) ']].values.copy()
X_train = data_train.drop('telomere length (kb) ',axis = 1).values.copy()

In [ ]:
from numpy import mean
from numpy import std
# configure the cross-validation procedure
# define the model
model = RandomForestRegressor()
param_grid = {
    'bootstrap': [True, False ],
    'max_leaf_nodes': [3,5,7,10],
    'max_features': ['auto','sqrt','log2'],
    'min_samples_leaf': [3, 4, 5],
    'min_samples_split': [3,4,5],
    'n_estimators': [100,200, 300,500,700, 1000],'random_state':[216]
  }
# define search
search = GridSearchCV(model, param_grid, scoring='neg_mean_absolute_error', n_jobs=1, cv=5, refit=True)
# configure the cross-validation procedure
result = search.fit(X_train, y_train)
# execute the nested cross-validation
scores = cross_val_score(search, X_train, y_train, scoring='neg_mean_absolute_error', cv=5, n_jobs=-1)
# report performance
print(scores)

In [ ]:
best_model = result.best_estimator_
best_model

In [ ]:
# data  n = 15
X_test = data_test.drop('telomere length (kb) ',axis = 1).values.copy()
y_test = data_test[['telomere length (kb) ']].values.copy()

In [ ]:
y_pred = best_model.predict(X_test)
y_pred

In [ ]:
print('MAE Test:',metrics.mean_absolute_error(y_test, y_pred))

In [ ]:
score_test = cross_val_score(model, X_test, y_test)
score_test