<a href="https://colab.research.google.com/github/Worachet-Ch/project2022/blob/main/SVR_v3_cross.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import os
from google.colab import drive #เชื่อม Google drive
drive.mount('/content/drive')
path = '/content/drive/My Drive/project' #เข้า drive
data1 = pd.read_csv(os.path.join(path,'df_1.csv'))

Mounted at /content/drive

In [2]:
from sklearn import metrics
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.svm import SVR
from sklearn import metrics
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import mean_absolute_percentage_error

# GridSearchCV

In [3]:
def data(data,kernel):
  y = data['telomere length (kb)']
  X = data.drop('telomere length (kb)',1)
  X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=216)
  param_tuning = {
        'kernel': [kernel],
        'C': [1],'epsilon': [0.1]
    }
  model = SVR()

  gsearch = GridSearchCV(estimator = model,
                           param_grid = param_tuning                       
                          )

  gsearch.fit(X_train,y_train)
  y_pred = gsearch.predict(X_test)
  print('Train')
  print('R2 Value Train:',metrics.r2_score(y_train, gsearch.predict(X_train)))
  print('MSE Train:',metrics.mean_squared_error(y_train, gsearch.predict(X_train)))
  print('MAE Train:',metrics.mean_absolute_error(y_train, gsearch.predict(X_train)))
  print('-----------------------------')
  print('Test')
  print('R2 Value Test:',metrics.r2_score(y_test, y_pred))
  print('MSE Test:',metrics.mean_squared_error(y_test, y_pred))
  print('MAE Test:',metrics.mean_absolute_error(y_test, y_pred))
  print('MAPE',mean_absolute_percentage_error(y_test, y_pred))
  print('-----------------------------')
  #sns.distplot(y_pred, hist = False, color = 'r', label = 'Predicted Values')
  #sns.distplot(y_test, hist = False, color = 'b', label = 'Actual Values')
  #plt.title('Actual vs Predicted Values', fontsize = 16)
  #plt.xlabel('Values', fontsize = 12)
  #plt.ylabel('Frequency', fontsize = 12)
  #plt.legend(loc = 'upper left', fontsize = 13)

# First Data

In [4]:
data1.drop('Unnamed: 0',1,inplace = True)
data1

<ipython-input-4-f170cadba2e7>:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  data1.drop('Unnamed: 0',1,inplace = True)

,Sex,AgeSYear,Weight,Height,BMI,Systolic,Diastolic,HeartRate,SMM,Fat Mass,...,Uric Acid,Cholesterol,Triglyceride,HDL-C,LDL,AST,ALT,Alkaline Phos,HbA1c,telomere length (kb)
0,2.0,58.0,47.200000,156.000000,19.40,112.000,64.00,70.00,19.741,13.631,...,4.8,180.0,97.0,62.0,98.0,25.0,32.0,40.0,5.800000,7.30
1,2.0,57.0,47.400000,153.000000,20.20,114.000,75.00,69.00,19.300,12.500,...,5.0,176.0,51.0,72.0,94.0,16.0,16.0,62.0,5.100000,6.36
2,2.0,24.0,53.200000,157.000000,21.60,103.000,69.00,78.00,21.300,14.600,...,5.2,159.0,45.0,52.0,98.0,13.0,17.0,50.0,5.400000,9.71
3,2.0,62.0,54.400000,165.000000,20.00,95.000,75.00,83.00,21.600,15.200,...,4.1,230.0,94.0,61.0,151.0,18.0,31.0,76.0,5.600000,6.17
4,2.0,86.0,49.000000,154.000000,20.70,129.000,79.00,83.00,19.907,15.369,...,5.4,183.0,86.0,39.0,127.0,12.0,22.0,82.0,6.200000,4.55
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
417,2.0,25.0,47.000000,165.000000,17.30,104.000,63.00,89.00,20.387,12.852,...,4.8,232.0,36.0,96.0,128.0,18.0,12.0,46.0,5.393333,8.98
418,2.0,31.0,72.200000,168.000000,25.60,123.000,89.00,69.00,25.451,18.258,...,6.1,187.0,49.0,51.0,127.0,21.0,24.0,71.0,5.186667,8.23
419,2.0,32.0,54.500000,158.466667,21.68,113.160,71.83,72.30,22.707,21.599,...,5.1,222.0,58.0,79.0,132.0,17.0,10.0,34.0,5.486667,8.79
420,1.0,29.0,63.073333,168.866667,22.04,108.465,71.96,83.95,27.607,20.258,...,6.8,140.0,92.0,48.0,73.0,31.0,75.0,69.0,4.973333,8.93
421,2.0,31.0,58.066667,160.200000,22.60,112.810,72.72,74.41,23.020,22.436,...,4.0,243.0,161.0,87.0,124.0,24.0,11.0,46.0,6.086667,7.92

In [5]:
scaler = MinMaxScaler()
Scaler = scaler.fit_transform(data1)

In [6]:
df = pd.DataFrame(  Scaler, columns = ['Sex' , 'AgeSYear', 'telomere length (kb)','Weight','Height','BMI','Systolic','Diastolic','HeartRate','SMM','Fat Mass',
                                       '% Body fat','waist to hip radio','abdominal circumference','visceral fat area','Glucose','BUN','Creatinine','Uric Acid','Cholesterol',
                                       'Triglyceride','HDL-C','LDL','AST','ALT','Alkaline Phos','HbA1c'])
df

,Sex,AgeSYear,telomere length (kb),Weight,Height,BMI,Systolic,Diastolic,HeartRate,SMM,...,Creatinine,Uric Acid,Cholesterol,Triglyceride,HDL-C,LDL,AST,ALT,Alkaline Phos,HbA1c
0,1.0,0.582090,0.154562,0.250000,0.198473,0.531707,0.333333,0.306452,0.101103,0.236189,...,0.424242,0.438849,0.211082,0.402299,0.350365,0.271186,0.376812,0.203390,0.540984,0.119472
1,1.0,0.567164,0.158287,0.181818,0.259542,0.551220,0.537037,0.290323,0.085409,0.208738,...,0.454545,0.410072,0.089710,0.517241,0.321168,0.118644,0.144928,0.389831,0.426230,0.083010
2,1.0,0.074627,0.266294,0.272727,0.366412,0.443902,0.425926,0.435484,0.156584,0.259709,...,0.484848,0.287770,0.073879,0.287356,0.350365,0.067797,0.159420,0.288136,0.475410,0.212956
3,1.0,0.641791,0.288641,0.454545,0.244275,0.365854,0.537037,0.516129,0.167260,0.274272,...,0.318182,0.798561,0.203166,0.390805,0.737226,0.152542,0.362319,0.508475,0.508197,0.075640
4,1.0,1.000000,0.188082,0.204545,0.297710,0.697561,0.611111,0.516129,0.107011,0.278374,...,0.515152,0.460432,0.182058,0.137931,0.562044,0.050847,0.231884,0.559322,0.606557,0.012801
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
417,1.0,0.089552,0.150838,0.454545,0.038168,0.453659,0.314815,0.612903,0.124093,0.217282,...,0.424242,0.812950,0.050132,0.793103,0.569343,0.152542,0.086957,0.254237,0.474317,0.184639
418,1.0,0.179104,0.620112,0.522727,0.671756,0.639024,0.796296,0.290323,0.304306,0.348495,...,0.621212,0.489209,0.084433,0.275862,0.562044,0.203390,0.260870,0.466102,0.440437,0.155547
419,1.0,0.194030,0.290503,0.306061,0.372519,0.543024,0.478333,0.343548,0.206655,0.429587,...,0.469697,0.741007,0.108179,0.597701,0.598540,0.135593,0.057971,0.152542,0.489617,0.177269
420,0.0,0.149254,0.450155,0.542424,0.400000,0.497220,0.480741,0.531452,0.381032,0.397039,...,0.727273,0.151079,0.197889,0.241379,0.167883,0.372881,1.000000,0.449153,0.405464,0.182700
421,1.0,0.179104,0.356921,0.345455,0.442748,0.539610,0.494815,0.377581,0.217794,0.449903,...,0.303030,0.892086,0.379947,0.689655,0.540146,0.254237,0.072464,0.254237,0.587978,0.143522

In [7]:
data(df,'rbf')

Train
R2 Value Train: 0.9135959851320112
MSE Train: 0.0030439059940240943
MAE Train: 0.046138441137515314
-----------------------------
Test
R2 Value Test: 0.8719637481835765
MSE Test: 0.0038022863913868376
MAE Test: 0.04636179506490715
MAPE 0.2594319367207511
-----------------------------

<ipython-input-3-8315e84e7988>:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  X = data.drop('telomere length (kb)',1)

In [8]:
data(df,'linear')

Train
R2 Value Train: 0.9332976404347691
MSE Train: 0.002349841178171661
MAE Train: 0.040040836808383384
-----------------------------
Test
R2 Value Test: 0.9294628425968878
MSE Test: 0.0020947385594004215
MAE Test: 0.03888079628615357
MAPE 0.20248615814869123
-----------------------------

<ipython-input-3-8315e84e7988>:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  X = data.drop('telomere length (kb)',1)

## data2

In [14]:
data2 = pd.read_csv(os.path.join(path,'df_2.csv'))
data2.drop('Unnamed: 0',1,inplace = True)

<ipython-input-14-9295e0cecbd9>:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  data2.drop('Unnamed: 0',1,inplace = True)

In [15]:
scaler = MinMaxScaler()
Scaler = scaler.fit_transform(data2)

In [17]:
df2 = pd.DataFrame(  Scaler, columns = ['Sex' , 'AgeSYear', 'telomere length (kb)','Weight','Height','BMI','Systolic','Diastolic','HeartRate','SMM','Fat Mass',
                                       '% Body fat','waist to hip radio','abdominal circumference','visceral fat area','Glucose','BUN','Creatinine','Uric Acid','Cholesterol',
                                       'Triglyceride','HDL-C','LDL','AST','ALT','Alkaline Phos','HbA1c'])

In [18]:
data(df2,'rbf')

Train
R2 Value Train: 0.9104815362471792
MSE Train: 0.003165859046150216
MAE Train: 0.04728128470010403
-----------------------------
Test
R2 Value Test: 0.8623795036692227
MSE Test: 0.004099939095727558
MAE Test: 0.04840568654936691
MAPE 0.26882916789643396
-----------------------------

<ipython-input-3-8315e84e7988>:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  X = data.drop('telomere length (kb)',1)

In [19]:
data(df2,'linear')

Train
R2 Value Train: 0.9314705267128296
MSE Train: 0.0024235743537015476
MAE Train: 0.04121014237258107
-----------------------------
Test
R2 Value Test: 0.9198531596728259
MSE Test: 0.00238770512254669
MAE Test: 0.04187107150837936
MAPE 0.21851542820966446
-----------------------------

<ipython-input-3-8315e84e7988>:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  X = data.drop('telomere length (kb)',1)

## data3

In [9]:
data_file_path = os.path.join(path,'data_notmissing.csv') #ไปที่ไฟล์ confirmed-cases-since-280265.csv
data3 = pd.read_csv(data_file_path)
data3.drop({'Unnamed: 0'},1,inplace = True)

<ipython-input-9-eab412fc4bad>:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  data3.drop({'Unnamed: 0'},1,inplace = True)

In [10]:
scaler = MinMaxScaler()
Scaler = scaler.fit_transform(data3)

In [11]:
df3 = pd.DataFrame(Scaler, columns = ['Sex' , 'AgeSYear', 'telomere length (kb)','Weight','Height','BMI','Systolic','Diastolic','HeartRate','SMM','Fat Mass',
                                       '% Body fat','waist to hip radio','abdominal circumference','visceral fat area','Glucose','BUN','Creatinine','Uric Acid','Cholesterol',
                                       'Triglyceride','HDL-C','LDL','AST','ALT','Alkaline Phos','HbA1c'])

In [12]:
data(df3,'rbf')

<ipython-input-3-8315e84e7988>:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  X = data.drop('telomere length (kb)',1)

Train
R2 Value Train: 0.8025271492366544
MSE Train: 0.006836836344109456
MAE Train: 0.07584532520921561
-----------------------------
Test
R2 Value Test: 0.6077495661388506
MSE Test: 0.024650927622154803
MAE Test: 0.13408350962425572
MAPE 0.431552844317274
-----------------------------

In [13]:
data(df3,'linear')

Train
R2 Value Train: 0.754326706985436
MSE Train: 0.008505615288209482
MAE Train: 0.07958187145817283
-----------------------------
Test
R2 Value Test: 0.7471324126152579
MSE Test: 0.01589143072004024
MAE Test: 0.10972294221408282
MAPE 0.3289970541945717
-----------------------------

<ipython-input-3-8315e84e7988>:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  X = data.drop('telomere length (kb)',1)