<a href="https://colab.research.google.com/github/Worachet-Ch/project2022/blob/main/XGboots.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import os
from google.colab import drive #เชื่อม Google drive
drive.mount('/content/drive')
path = '/content/drive/My Drive/project' #เข้า drive
data_X = pd.read_csv(os.path.join(path,'first_data.csv'))
data_Y = pd.read_csv(os.path.join(path,'dataset2.csv'))

Mounted at /content/drive

In [2]:
data_X.drop('Unnamed: 0',1,inplace = True)
data_Y.dropna(subset=['telomere length (kb) '], inplace = True)
data_Y.drop(['No.', 'LabNo','DHEAs (BRIA)'], axis=1,inplace = True)
data_Y.drop(data_Y.columns[2: 10], axis=1,inplace = True)
data_Y.drop(data_Y.columns[27:37], axis=1,inplace = True)

<ipython-input-2-5ecd7837be1a>:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  data_X.drop('Unnamed: 0',1,inplace = True)

In [3]:
data1 = data_Y['telomere length (kb) ']
data = data_X.copy()
data['telomere length (kb) '] = list(data1)
data

,Sex,AgeSYear,Weight,Height,BMI,Systolic,Diastolic,HeartRate,SMM,Fat Mass,...,Uric Acid,Cholesterol,Triglyceride,HDL-C,LDL,AST,ALT,Alkaline Phos,HbA1c,telomere length (kb)
0,2.0,58.0,47.200000,156.00000,19.400000,112.000,64.00,70.00,19.847,15.025,...,4.8,180.0,97.0,62.0,98.0,25.0,32.0,40.0,5.800000,7.30
1,2.0,57.0,47.400000,153.00000,20.200000,114.000,75.00,69.00,19.300,12.500,...,5.0,176.0,51.0,72.0,94.0,16.0,16.0,62.0,5.100000,6.36
2,2.0,24.0,53.200000,157.00000,21.600000,103.000,69.00,78.00,21.300,14.600,...,5.2,159.0,45.0,52.0,98.0,13.0,17.0,50.0,5.400000,9.71
3,2.0,62.0,54.400000,165.00000,20.000000,95.000,75.00,83.00,21.600,15.200,...,4.1,230.0,94.0,61.0,151.0,18.0,31.0,76.0,5.600000,6.17
4,2.0,86.0,49.000000,154.00000,20.700000,129.000,79.00,83.00,19.878,13.932,...,5.4,183.0,86.0,39.0,127.0,12.0,22.0,82.0,6.200000,4.55
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
418,2.0,25.0,47.000000,165.00000,17.300000,104.000,63.00,89.00,20.381,18.684,...,4.8,232.0,36.0,96.0,128.0,18.0,12.0,46.0,5.426667,8.98
419,2.0,31.0,72.200000,168.00000,25.600000,123.000,89.00,69.00,25.838,19.464,...,6.1,187.0,49.0,51.0,127.0,21.0,24.0,71.0,5.520000,8.23
420,2.0,32.0,58.608675,162.00241,22.240723,113.420,71.38,75.64,23.317,20.276,...,5.1,222.0,58.0,79.0,132.0,17.0,10.0,34.0,5.486667,8.79
421,1.0,29.0,58.608675,162.00241,22.240723,115.985,74.54,85.45,27.483,21.162,...,6.8,140.0,92.0,48.0,73.0,31.0,75.0,69.0,5.420000,8.93
422,2.0,31.0,58.608675,162.00241,22.240723,116.730,73.36,76.10,23.056,21.261,...,4.0,243.0,161.0,87.0,124.0,24.0,11.0,46.0,6.000000,7.92

In [4]:
data.isna().sum()

Sex                        0
AgeSYear                   0
Weight                     0
Height                     0
BMI                        0
Systolic                   0
Diastolic                  0
HeartRate                  0
SMM                        0
Fat Mass                   0
% Body fat                 0
waist to hip radio         0
abdominal circumference    0
visceral fat area          0
Glucose                    0
BUN                        0
Creatinine                 0
Uric Acid                  0
Cholesterol                0
Triglyceride               0
HDL-C                      0
LDL                        0
AST                        0
ALT                        0
Alkaline Phos              0
HbA1c                      0
telomere length (kb)       0
dtype: int64

In [5]:
y = data['telomere length (kb) '].values
X = data.drop('telomere length (kb) ',1).values

<ipython-input-5-13d2162fa1d2>:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  X = data.drop('telomere length (kb) ',1).values

In [6]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=216)

In [7]:
from xgboost import XGBRegressor
RegModel=XGBRegressor( learning_rate=0.1, n_estimators=100, objective='reg:linear',max_depth = 10, booster='gbtree',seed = 216)

In [8]:
print(RegModel)

XGBRegressor(max_depth=10, seed=216)

In [9]:
XGB= RegModel.fit(X_train,y_train)
prediction= XGB.predict(X_test)

[07:14:58] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.

In [10]:
from sklearn import metrics
#Train
print('R2 Value Train:',metrics.r2_score(y_train, XGB.predict(X_train)))
print('MSE Train:',metrics.mean_squared_error(y_train, XGB.predict(X_train)))
print('MAE Train:',metrics.mean_absolute_error(y_train, XGB.predict(X_train)))

R2 Value Train: 0.9999494245822526
MSE Train: 0.00017654120817297403
MAE Train: 0.006148274890064513

In [11]:
import numpy as np
print('Accuracy',100- (np.mean(np.abs((y_test - prediction) / y_test)) * 100))

Accuracy 91.79555076335912

In [12]:
#Test
print('R2 Value Test:',metrics.r2_score(y_test, prediction))
print('MSE Test:',metrics.mean_squared_error(y_test, prediction))
print('MAE Test:',metrics.mean_absolute_error(y_test, prediction))

R2 Value Test: 0.7250413717618791
MSE Test: 0.6406968893233695
MAE Test: 0.6109982827130487

### GridSearchCV

In [13]:
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import StratifiedKFold

In [16]:
def hyperParameterTuning(X_train, y_train):
    param_tuning = {
        'learning_rate': [0.01, 0.1],
        'max_depth': [3, 5, 7, 10],
        'min_child_weight': [1, 3, 5],
        'subsample': [0.5, 0.7],
        'colsample_bytree': [0.5, 0.7],
        'n_estimators' : [100, 200,300,400, 500,600,700,800,900,1000],
        'objective': ['reg:squarederror','reg:linear']
    }

    xgb_model = XGBRegressor(seed = 216)

    gsearch = GridSearchCV(estimator = xgb_model,
                           param_grid = param_tuning,                        
                           cv = 5,
                           n_jobs = -1,
                           verbose = 1)

    gsearch.fit(X_train,y_train)

    return gsearch.best_params_

In [17]:
hyperParameterTuning(X_train, y_train)

Fitting 5 folds for each of 1920 candidates, totalling 9600 fits

{'colsample_bytree': 0.7,
 'learning_rate': 0.01,
 'max_depth': 10,
 'min_child_weight': 5,
 'n_estimators': 500,
 'objective': 'reg:squarederror',
 'subsample': 0.7}

In [18]:
xgb_model = XGBRegressor(
        objective = 'reg:squarederror',
        colsample_bytree = 0.7,
        learning_rate = 0.01,
        max_depth = 10,
        min_child_weight = 5,
        n_estimators = 500,
        subsample = 0.7,seed = 216)

In [19]:
xgb_model.fit(X_train,y_train)

XGBRegressor(colsample_bytree=0.7, learning_rate=0.01, max_depth=10,
             min_child_weight=5, n_estimators=500, objective='reg:squarederror',
             seed=216, subsample=0.7)

In [20]:
y_pred = xgb_model.predict(X_test)

In [21]:
print('R2 Value Train:',metrics.r2_score(y_train, xgb_model.predict(X_train)))
print('MSE Train:',metrics.mean_squared_error(y_train, xgb_model.predict(X_train)))
print('MAE Train:',metrics.mean_absolute_error(y_train, xgb_model.predict(X_train)))

R2 Value Train: 0.7937856764876206
MSE Train: 0.7198225429837286
MAE Train: 0.2669503658339822

In [23]:
print('Accuracy',100- (np.mean(np.abs((y_test - prediction) / y_test)) * 100))

Accuracy 91.79555076335912

In [22]:
print('R2 Value Test:',metrics.r2_score(y_test, y_pred))
print('MSE Test:',metrics.mean_squared_error(y_test, y_pred))
print('MAE Test:',metrics.mean_absolute_error(y_test, y_pred))

R2 Value Test: 0.6005917051519665
MSE Test: 0.9306842040885909
MAE Test: 0.7076916793374455